

<div class="grid-row" id="topic-section">
  <div class="column-two-thirds">
    <input type="hidden" name="filter_type" value="<%=HomepageController::TOPIC%>">
  </div>

    <% TaxonomyLevel.homepage.taxonomy_levels.each_with_index do |topic, index| %>
      <div class='column-one-third topics'>
        <span class="heading-small">
          <a href="/topics/<%= topic.id %>">
            <%= topic.display_name %>
          </a>
        </span>
        <p> <%= topic.description %></p>
      </div>
    <% end %>
</div>

