
<div class='grid-row'>
  <div class='column-two-thirds'>
    <h2 class='heading-medium'>
      Examples of differences 
    </h2>
  <p>
    Young Bangladeshis and Pakistanis are twice as likely to be unemployed as white people of the same age.<br>
    <a href='##'>
      Read more about ethnicity and employment
    </a>
  </p>
  <p>
    White children under 16 are more likely to be regular smokers than children from other backgrounds.<br>
    <a href='#∞'>
      Read more about ethnicity and health
    </a>
  </p>
</div>
</div>

<div class="grid-row" id="topic-section">
  <div class="column-two-thirds">
    <h2 class='heading-medium'>
      View government data on ethnicity
    </h2>
  </div>
</div>

<div class='grid-row'>
    <% TaxonomyLevel.homepage.taxonomy_levels.each_with_index do |topic, index| %>
      <div class='column-one-third topics'>
        <span class="heading-small">
          <a href="/topics/<%= topic.id %>">
            <%= topic.display_name %>
          </a>
        </span>
        <p><%= topic.description %></p>
      </div>
    <% end %>
</div>


<div class='grid-row'>
  <div class='column-two-thirds'>
    <h2 class='heading-medium'>
      Find out more about the audit of government data on ethnicity
    </h2>
    <ul class='no-bullets loose-list'>
      <li>
        <a href='https://www.gov.uk/government/news/prime-minister-orders-government-audit-to-tackle-racial-disparities-in-public-service-outcomes'>
          Prime Minister orders government audit to tackle racial disparities in public service outcomes
        </a>
      </li>
      <li>
        <a href='https://drive.google.com/file/d/0B1HFujb1nO-rU2VsaTFBX2gzbmc/view?pli=1'>
          Read the Summary of Statistical Principles for Government data on ethnicity
        </a>
      </li>
    </ul>
  </div>
</div>