
<!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In  -->
<svg version="1.2" baseProfile="tiny"
xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
x="0px" y="0px" width="960px" height="589px" viewBox="0 0 960 589" xml:space="preserve">
<defs>
</defs>
<rect fill="#FFFFFF" width="960" height="589"/>
<g>
  <rect x="212.3" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="265.1" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="317.9" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="370.7" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="423.5" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="476.3" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="529.1" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="581.9" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="634.7" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="687.5" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="740.3" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="793.1" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="845.9" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="898.7" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="951.5" y="76" fill="#BFBFBF" width="1" height="456"/>
</g>
<g>
  <rect x="160" y="85.5" fill="#85AFD0" width="253.4" height="38"/>
</g>
<g>
  <rect x="160" y="142.5" fill="#85AFD0" width="739.2" height="38"/>
</g>
<g>
  <rect x="160" y="199.5" fill="#85AFD0" width="591.4" height="38"/>
</g>
<g>
  <rect x="160" y="256.5" fill="#85AFD0" width="337.9" height="38"/>
</g>
<g>
  <rect x="160" y="313.5" fill="#85AFD0" width="607.2" height="38"/>
</g>
<g>
  <rect x="160" y="370.5" fill="#85AFD0" width="258.7" height="38"/>
</g>
<g>
  <rect x="160" y="427.5" fill="#85AFD0" width="348.5" height="38"/>
</g>
<g>
  <rect x="160" y="484.5" fill="#85AFD0" width="475.2" height="38"/>
</g>
<g>
  <path d="M103.6,112.1l1.9-9.3h1.4l-2.5,11.2h-1.6l-2.4-9.2l-2.4,9.2h-1.6l-2.5-11.2h1.4l2,9.3l2.4-9.3h1.5L103.6,112.1z"/>
  <path d="M109,102.8h1.3v4.1c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4H114v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2v4.7
  H109V102.8z"/>
  <path d="M118.5,102.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C117.5,103.2,117.9,102.8,118.5,102.8z M119.1,114h-1.3v-8
  h1.3V114z"/>
  <path d="M123.7,112c0,0.5,0.1,1,1,1c0.2,0,0.8,0,1-0.1l0.1,1.2c0,0-0.8,0.1-1.4,0.1c-1.3,0-2-0.5-2-1.9v-5.1h-1.5V106h1.5v-2.6
  l1.3-0.5v3.1h2.2v1.2h-2.2V112z"/>
  <path d="M128.6,110.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H128.6z M128.6,109.4h4.2c0-1.2-0.7-2.4-2-2.4C129.5,107,128.7,108.1,128.6,109.4
  z"/>
</g>
<g>
  <path d="M101,159.8c1.8,0,3.1,1.1,3.1,2.8c0,1.1-0.8,2.1-1.8,2.5c1.1,0.2,2.4,1.1,2.4,2.7c0,2.2-1.8,3.2-3.8,3.2h-4.3v-11.2H101z
  M102.7,162.8c0-1-0.6-1.8-2.2-1.8H98v3.7h2.5C102.1,164.7,102.7,163.8,102.7,162.8L102.7,162.8z M101,165.8H98v4h2.9
  c1.3,0,2.4-0.6,2.4-2C103.4,166.4,102.3,165.8,101,165.8z"/>
  <path d="M106.8,159.8h1.3v9.4c0,0.5,0.2,0.8,0.8,0.8c0.3,0,0.6,0,0.8,0l0.1,1.1c0,0-0.8,0.1-1.3,0.1c-0.9,0-1.7-0.4-1.7-1.6V159.8z
  "/>
  <path d="M113.4,171.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C115.3,170.7,114.5,171.2,113.4,171.2z M113.4,167.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4
  L113.4,167.4z"/>
  <path d="M120.3,167c0,1.6,0.8,3,2.3,3c1,0,1.7-0.6,2.1-1.3l1.1,0.6c-0.5,1.1-1.7,1.9-3.2,1.9c-2.2,0-3.7-1.7-3.7-4.1
  c0-2.4,1.5-4.2,3.7-4.2c1.4,0,2.6,0.7,3.2,1.9l-1.1,0.6c-0.4-0.8-1.1-1.3-2.1-1.3C121.1,164,120.3,165.4,120.3,167L120.3,167z"/>
  <path d="M129.1,166.9l3.8-3.9h1.6l-3,3.2l3.2,4.8h-1.6l-2.5-3.9l-1.4,1.5v2.5h-1.3v-11.2h1.3V166.9z"/>
</g>
<g>
  <path d="M21.7,216.8h1.7V228H22v-9.5l-3.8,5.2h0l-3.8-5.1v9.5H13v-11.2h1.7l3.5,4.8L21.7,216.8z"/>
  <path d="M26.9,216.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C25.9,217.2,26.3,216.8,26.9,216.8z M27.5,228h-1.3v-8h1.3
  V228z"/>
  <path d="M31.8,223.8l-2.4-3.8h1.5l1.7,2.8l1.6-2.8h1.5l-2.4,3.8l2.8,4.2h-1.6l-2-3.1l-1.8,3.1h-1.6L31.8,223.8z"/>
  <path d="M38.3,224.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H38.3z M38.4,223.4h4.2c0-1.2-0.7-2.4-2-2.4C39.3,221,38.4,222.1,38.4,223.4z"/>
  <path d="M51.3,227.1c-0.5,0.7-1.3,1.1-2.3,1.1c-2.1,0-3.4-1.7-3.4-4.1c0-2.4,1.3-4.2,3.4-4.2c1,0,1.9,0.4,2.3,1.1v-4.1h1.3V228
  h-1.3V227.1z M46.9,224c0,1.7,0.8,2.9,2.3,2.9c1.4,0,2.1-1,2.1-2.3v-1.3c0-1.3-0.7-2.3-2.1-2.3C47.7,221,46.9,222.3,46.9,224
  L46.9,224z"/>
  <path d="M66.2,224c0,2.4-1.5,4.1-3.7,4.1s-3.7-1.7-3.7-4.1c0-2.4,1.5-4.2,3.7-4.2S66.2,221.6,66.2,224z M64.8,224.1L64.8,224.1
  c0-1.7-0.8-3.1-2.3-3.1s-2.3,1.4-2.3,3v0.1c0,1.6,0.8,2.9,2.3,2.9S64.8,225.6,64.8,224.1z"/>
  <path d="M72.4,221.2h-0.2c-1.3,0-2.6,0.5-2.6,2.7v4.1h-1.3v-8h1.3v1.3c0.4-0.9,1.4-1.4,2.4-1.4h0.4V221.2z"/>
  <path d="M83.9,228h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-0.9,0-1.8,0.7-1.8,2.2v4.7h-1.3v-8h1.3v0.9c0.5-0.7,1.2-1.1,2.1-1.1
  c0.7,0,1.7,0.4,2.2,1.3c0.6-1,1.5-1.3,2.4-1.3c1.7,0,2.7,1.3,2.7,2.7v5.5h-1.3v-5c0-1.4-0.8-1.9-1.6-1.9c-0.9,0-1.8,0.7-1.8,2.2
  V228z"/>
  <path d="M97.3,228H96v-0.9c-0.5,0.7-1.4,1.1-2.3,1.1c-1.8,0-2.7-1.3-2.7-2.7V220h1.3v5c0,1.4,0.7,1.9,1.6,1.9c1.1,0,2-0.7,2-2.2
  V220h1.3V228z"/>
  <path d="M99.8,216.8h1.3v9.4c0,0.5,0.2,0.8,0.8,0.8c0.3,0,0.6,0,0.8,0l0.1,1.1c0,0-0.8,0.1-1.3,0.1c-0.9,0-1.7-0.4-1.7-1.6V216.8z"
  />
  <path d="M106.3,226c0,0.5,0.1,1,1,1c0.2,0,0.8,0,1-0.1l0.1,1.2c0,0-0.8,0.1-1.4,0.1c-1.3,0-2-0.5-2-1.9v-5.1h-1.5V220h1.5v-2.6
  l1.3-0.5v3.1h2.2v1.2h-2.2V226z"/>
  <path d="M111,216.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C110,217.2,110.5,216.8,111,216.8z M111.7,228h-1.3v-8h1.3
  V228z"/>
  <path d="M115.5,220v0.9c0.5-0.7,1.3-1.1,2.3-1.1c2.1,0,3.4,1.7,3.4,4.2c0,2.4-1.3,4.1-3.4,4.1c-1,0-1.9-0.4-2.3-1.1v3.3h-1.3V220
  H115.5z M119.9,224c0-1.7-0.8-2.9-2.3-2.9c-1.4,0-2.1,1-2.1,2.3v1.3c0,1.3,0.7,2.3,2.1,2.3C119.1,227,119.9,225.7,119.9,224
  L119.9,224z"/>
  <path d="M123.3,216.8h1.3v9.4c0,0.5,0.2,0.8,0.8,0.8c0.3,0,0.6,0,0.8,0l0.1,1.1c0,0-0.8,0.1-1.3,0.1c-0.9,0-1.7-0.4-1.7-1.6V216.8z
  "/>
  <path d="M128.6,224.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H128.6z M128.6,223.4h4.2c0-1.2-0.7-2.4-2-2.4C129.5,221,128.7,222.1,128.6,223.4
  z"/>
</g>
<g>
  <path d="M72,330.8H76c2.1,0,3.5,1.5,3.5,3.5c0,2.1-1.5,3.5-3.6,3.5h-2.4v4.2H72V330.8z M75.7,332h-2.3v4.7h2.3c1.4,0,2.3-1,2.3-2.3
  v-0.1C78,333,77.1,332,75.7,332z"/>
  <path d="M83.4,342.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C85.3,341.7,84.5,342.2,83.4,342.2z M83.4,338.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4L83.4,338.4z
  "/>
  <path d="M90.7,337.9l3.8-3.9h1.6l-3,3.2l3.2,4.8h-1.6l-2.5-3.9l-1.4,1.5v2.5h-1.3v-11.2h1.3V337.9z"/>
  <path d="M98.6,330.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C97.6,331.2,98.1,330.8,98.6,330.8z M99.2,342h-1.3v-8h1.3
  V342z"/>
  <path d="M101.1,341l0.8-0.9c0.5,0.4,1.3,1,2.4,1c0.9,0,1.6-0.4,1.6-1.2c0-0.9-0.9-1.1-2-1.3c-1.1-0.3-2.5-0.7-2.5-2.3
  c0-1.3,1.2-2.3,2.9-2.3c1.1,0,2.2,0.4,2.8,1l-0.8,0.9c-0.5-0.4-1.2-0.8-2-0.8c-1.1,0-1.6,0.5-1.6,1.2c0,0.6,0.4,0.9,1.2,1.1
  c0.4,0.1,0.9,0.3,1.3,0.4c1.1,0.3,2,0.9,2,2.2c0,1.6-1.5,2.4-3,2.4C103.2,342.2,102,341.8,101.1,341z"/>
  <path d="M111.4,340c0,0.5,0.1,1,1,1c0.2,0,0.8,0,1-0.1l0.1,1.2c0,0-0.8,0.1-1.4,0.1c-1.3,0-2-0.5-2-1.9v-5.1h-1.5V334h1.5v-2.6
  l1.3-0.5v3.1h2.2v1.2h-2.2V340z"/>
  <path d="M117.6,342.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C119.4,341.7,118.7,342.2,117.6,342.2z M117.6,338.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4
  L117.6,338.4z"/>
  <path d="M123.6,334h1.3v0.9c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V334z"/>
  <path d="M133.1,330.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C132.1,331.2,132.5,330.8,133.1,330.8z M133.7,342h-1.3v-8
  h1.3V342z"/>
</g>
<g>
  <path d="M93.3,273.8h1.4V285h-1.4V273.8z"/>
  <path d="M97.4,277h1.3v0.9c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2v4.7
  h-1.3V277z"/>
  <path d="M111.5,284.1c-0.5,0.7-1.3,1.1-2.3,1.1c-2.1,0-3.4-1.7-3.4-4.1c0-2.4,1.3-4.2,3.4-4.2c1,0,1.9,0.4,2.3,1.1v-4.1h1.3V285
  h-1.3V284.1z M107.1,281c0,1.7,0.8,2.9,2.3,2.9c1.4,0,2.1-1,2.1-2.3v-1.3c0-1.3-0.7-2.3-2.1-2.3C107.9,278,107.1,279.3,107.1,281
  L107.1,281z"/>
  <path d="M116.1,273.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C115.1,274.2,115.5,273.8,116.1,273.8z M116.7,285h-1.3v-8
  h1.3V285z"/>
  <path d="M121.4,285.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C123.3,284.7,122.5,285.2,121.4,285.2z M121.5,281.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4
  L121.5,281.4z"/>
  <path d="M127.5,277h1.3v0.9c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V277z"/>
</g>
<g>
  <path d="M83.9,387.7c2.1,0,3.5,1.2,4.2,2.9l-1.3,0.4c-0.3-1-1.3-2.1-2.9-2.1c-2.3,0-3.4,2.1-3.4,4.4v0.2c0,2.3,1.1,4.4,3.4,4.4
  c1.6,0,2.5-1.1,2.9-2.1l1.3,0.4c-0.7,1.7-2.1,2.9-4.2,2.9c-3,0-4.9-2.5-4.9-5.7S80.8,387.7,83.9,387.7z"/>
  <path d="M90.2,387.8h1.3v4.1c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V387.8z"/>
  <path d="M99.7,387.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C98.7,388.2,99.1,387.8,99.7,387.8z M100.3,399H99v-8h1.3
  V399z"/>
  <path d="M102.9,391h1.3v0.9c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V391z"/>
  <path d="M112.6,395.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H112.6z M112.6,394.4h4.2c0-1.2-0.7-2.4-2-2.4C113.5,392,112.6,393.1,112.6,394.4
  z"/>
  <path d="M119.5,398l0.8-0.9c0.5,0.4,1.3,1,2.4,1c0.9,0,1.6-0.4,1.6-1.2c0-0.9-0.9-1.1-2-1.3c-1.1-0.3-2.5-0.7-2.5-2.3
  c0-1.3,1.2-2.3,2.9-2.3c1.1,0,2.2,0.4,2.8,1l-0.8,0.9c-0.5-0.4-1.2-0.8-2-0.8c-1.1,0-1.6,0.5-1.6,1.2c0,0.6,0.4,0.9,1.2,1.1
  c0.4,0.1,0.9,0.3,1.3,0.4c1.1,0.3,2,0.9,2,2.2c0,1.6-1.5,2.4-3,2.4C121.6,399.2,120.4,398.8,119.5,398z"/>
  <path d="M128.6,395.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H128.6z M128.6,394.4h4.2c0-1.2-0.7-2.4-2-2.4C129.5,392,128.7,393.1,128.6,394.4
  z"/>
</g>
<g>
  <path d="M58.1,444.7c3,0,4.9,2.5,4.9,5.8s-1.9,5.7-4.9,5.7s-4.9-2.5-4.9-5.7S55,444.7,58.1,444.7z M61.5,450.3c0-2.3-1-4.4-3.4-4.4
  s-3.4,2.1-3.4,4.4v0.2c0,2.3,1,4.4,3.4,4.4s3.4-2.1,3.4-4.4V450.3z"/>
  <path d="M67.3,454c0,0.5,0.1,1,1,1c0.2,0,0.8,0,1-0.1l0.1,1.2c0,0-0.8,0.1-1.4,0.1c-1.3,0-2-0.5-2-1.9v-5.1h-1.5V448h1.5v-2.6
  l1.3-0.5v3.1h2.2v1.2h-2.2V454z"/>
  <path d="M71.3,444.8h1.3v4.1c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V444.8z"/>
  <path d="M81,452.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H81z M81,451.4h4.2c0-1.2-0.7-2.4-2-2.4C81.9,449,81,450.1,81,451.4z"/>
  <path d="M92.7,449.2h-0.2c-1.3,0-2.6,0.5-2.6,2.7v4.1h-1.3v-8h1.3v1.3c0.4-0.9,1.4-1.4,2.4-1.4h0.4V449.2z"/>
  <path d="M103.8,453.5h-4.5l-0.7,2.5h-1.5l3.5-11.2h2l3.5,11.2h-1.5L103.8,453.5z M99.7,452.3h3.8l-1.9-6.3h-0.1L99.7,452.3z"/>
  <path d="M107.2,455l0.8-0.9c0.5,0.4,1.3,1,2.4,1c0.9,0,1.6-0.4,1.6-1.2c0-0.9-0.9-1.1-2-1.3c-1.1-0.3-2.5-0.7-2.5-2.3
  c0-1.3,1.2-2.3,2.9-2.3c1.1,0,2.2,0.4,2.8,1l-0.8,0.9c-0.5-0.4-1.2-0.8-2-0.8c-1.1,0-1.6,0.5-1.6,1.2c0,0.6,0.4,0.9,1.2,1.1
  c0.4,0.1,0.9,0.3,1.3,0.4c1.1,0.3,2,0.9,2,2.2c0,1.6-1.5,2.4-3,2.4C109.2,456.2,108.1,455.8,107.2,455z"/>
  <path d="M116.1,444.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C115.1,445.2,115.5,444.8,116.1,444.8z M116.7,456h-1.3v-8
  h1.3V456z"/>
  <path d="M121.5,456.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C123.3,455.7,122.5,456.2,121.5,456.2z M121.5,452.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4
  L121.5,452.4z"/>
  <path d="M127.5,448h1.3v0.9c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V448z"/>
</g>
<g>
  <path d="M100.3,501.7c3,0,4.9,2.5,4.9,5.8s-1.9,5.7-4.9,5.7s-4.9-2.5-4.9-5.7S97.3,501.7,100.3,501.7z M103.7,507.3
  c0-2.3-1-4.4-3.4-4.4s-3.4,2.1-3.4,4.4v0.2c0,2.3,1,4.4,3.4,4.4s3.4-2.1,3.4-4.4V507.3z"/>
  <path d="M109.5,511c0,0.5,0.1,1,1,1c0.2,0,0.8,0,1-0.1l0.1,1.2c0,0-0.8,0.1-1.4,0.1c-1.3,0-2-0.5-2-1.9v-5.1h-1.5V505h1.5v-2.6
  l1.3-0.5v3.1h2.2v1.2h-2.2V511z"/>
  <path d="M113.5,501.8h1.3v4.1c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7v5.4h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2
  v4.7h-1.3V501.8z"/>
  <path d="M123.2,509.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H123.2z M123.2,508.4h4.2c0-1.2-0.7-2.4-2-2.4C124.1,506,123.3,507.1,123.2,508.4
  z"/>
  <path d="M134.9,506.2h-0.2c-1.3,0-2.6,0.5-2.6,2.7v4.1h-1.3v-8h1.3v1.3c0.4-0.9,1.4-1.4,2.4-1.4h0.4V506.2z"/>
</g>
<g>
  <path d="M159,545.4c0,2.9-1.1,5.7-4.1,5.7s-4.1-2.8-4.1-5.7c0-2.9,1.1-5.8,4.1-5.8S159,542.5,159,545.4z M157.5,545.7v-0.7
  c0-2.7-1-4.2-2.6-4.2c-1.6,0-2.6,1.5-2.6,4.2v0.7c0,2.7,1,4.2,2.6,4.2C156.5,550,157.5,548.4,157.5,545.7z"/>
</g>
<g>
  <path d="M207.5,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C207,541.6,207.5,541.1,207.5,539.9z"/>
</g>
<g>
  <path d="M256.5,551v-1.3c0.8-0.7,3.2-2.7,4-3.5c0.9-0.8,1.7-1.8,1.7-3.1c0-1.4-0.9-2.2-2.2-2.2c-1.4,0-2.1,1-2.2,2.4l-1.4-0.1
  c0.1-2.2,1.5-3.5,3.6-3.5c2.2,0,3.7,1.3,3.7,3.5c0,1.6-0.8,2.7-3.3,4.8l-2,1.7h5.5v1.2H256.5z"/>
</g>
<g>
  <path d="M310.2,548.1c0.4,1.1,1.1,1.8,2.6,1.8c1.6,0,2.4-0.9,2.4-2.1c0-1.2-0.9-2-2.6-2h-0.5v-1.2h0.3c1.5,0,2.7-0.5,2.7-1.9
  c0-1.3-1-1.9-2.2-1.9c-1.2,0-2.1,0.7-2.5,1.7l-1.3-0.5c0.6-1.6,2.1-2.4,3.7-2.4c2,0,3.6,1.2,3.6,3c0,1.2-0.7,2.3-2.1,2.6
  c1.6,0.3,2.3,1.4,2.3,2.7c0,2.2-1.8,3.2-3.9,3.2c-1.8,0-3.3-0.8-3.9-2.6L310.2,548.1z"/>
</g>
<g>
  <path d="M366.6,551v-2.9H361v-1.4l5.1-6.9h2v7.2h1.8v1.2H368v2.9H366.6z M366.6,547v-6l-4.3,6H366.6z"/>
</g>
<g>
  <path d="M466.7,545.7c0-3,1.2-6.1,4.4-6.1c1.6,0,2.7,0.7,3.3,1.8l-1.4,0.4c-0.5-0.7-1.1-1.1-2-1.1c-2.1,0-3,2.2-3,4.5l0,0
  c0.5-0.8,1.4-1.6,3-1.6c2.1,0,3.6,1.6,3.6,3.7c0,2.2-1.6,3.8-3.9,3.8c-2.4,0-4.2-1.8-4.2-5.2V545.7z M470.8,550
  c1.4,0,2.5-1,2.5-2.6s-1-2.6-2.5-2.6c-1.5,0-2.5,1-2.5,2.5C468.3,548.9,469.4,550,470.8,550z"/>
</g>
<g>
  <path d="M579.6,542.7c0,1-0.5,2.1-1.9,2.5c1.6,0.4,2.2,1.7,2.2,2.8c0,2-2,3.1-4,3.1s-4-1.1-4-3.1c0-1.2,0.7-2.4,2.2-2.8
  c-1.4-0.4-1.9-1.5-1.9-2.5c0-1.9,1.8-3,3.7-3S579.6,540.7,579.6,542.7z M578.5,547.9c0-1.4-1.2-2-2.6-2s-2.6,0.7-2.6,2
  c0,1.4,1.2,2,2.6,2S578.5,549.3,578.5,547.9z M578.2,542.8c0-1.2-1.1-1.9-2.3-1.9c-1.2,0-2.3,0.7-2.3,1.9c0,1.2,1,1.9,2.3,1.9
  C577.2,544.6,578.2,544,578.2,542.8z"/>
</g>
<g>
  <path d="M676,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C675.6,541.6,676,541.1,676,539.9z"/>
  <path d="M688.1,545.4c0,2.9-1.1,5.7-4.1,5.7c-3,0-4.1-2.8-4.1-5.7c0-2.9,1.1-5.8,4.1-5.8C687.1,539.7,688.1,542.5,688.1,545.4z
  M686.7,545.7v-0.7c0-2.7-1-4.2-2.6-4.2s-2.6,1.5-2.6,4.2v0.7c0,2.7,1,4.2,2.6,4.2S686.7,548.4,686.7,545.7z"/>
</g>
<g>
  <path d="M781.6,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C781.2,541.6,781.6,541.1,781.6,539.9z"/>
  <path d="M785.7,551v-1.3c0.8-0.7,3.2-2.7,4-3.5c0.9-0.8,1.7-1.8,1.7-3.1c0-1.4-0.9-2.2-2.2-2.2c-1.4,0-2.1,1-2.2,2.4l-1.4-0.1
  c0.1-2.2,1.5-3.5,3.6-3.5c2.2,0,3.7,1.3,3.7,3.5c0,1.6-0.8,2.7-3.3,4.8l-2,1.7h5.5v1.2H785.7z"/>
</g>
<g>
  <path d="M886.5,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C886,541.6,886.5,541.1,886.5,539.9z"/>
  <path d="M895.8,551v-2.9h-5.6v-1.4l5.1-6.9h2v7.2h1.8v1.2h-1.8v2.9H895.8z M895.8,547v-6l-4.3,6H895.8z"/>
</g>
<g>
  <path d="M414.5,545.3l0.6-5.5h6.4v1.2h-5.3l-0.3,3.2c0.6-0.6,1.5-0.9,2.4-0.9c2.1,0,3.7,1.6,3.7,3.8c0,2.4-1.6,4.1-4,4.1
  c-1.8,0-3.4-0.9-3.8-2.7l1.4-0.2c0.3,0.9,1,1.7,2.4,1.7c1.6,0,2.6-1.2,2.6-2.8c0-1.6-1-2.7-2.6-2.7c-0.8,0-1.7,0.4-2.1,1
  L414.5,545.3z"/>
</g>
<g>
  <path d="M525.6,541h-6v-1.2h7.3v1.2l-4.5,10h-1.6L525.6,541z"/>
</g>
<g>
  <path d="M632.5,545.1c0,3-1.2,6.1-4.4,6.1c-1.6,0-2.7-0.7-3.3-1.8l1.4-0.4c0.5,0.7,1.1,1.1,2,1.1c2.1,0,3-2.2,3-4.5l0,0
  c-0.5,0.8-1.4,1.6-3,1.6c-2.1,0-3.6-1.6-3.6-3.6c0-2.2,1.6-3.8,3.9-3.8c2.4,0,4.2,1.8,4.2,5.2V545.1z M628.4,540.8
  c-1.4,0-2.5,1-2.5,2.6s1,2.6,2.5,2.6c1.5,0,2.5-1,2.5-2.5C630.9,541.9,629.8,540.8,628.4,540.8z"/>
</g>
<g>
  <path d="M730.8,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C730.4,541.6,730.8,541.1,730.8,539.9z"/>
  <path d="M736.6,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C736.2,541.6,736.6,541.1,736.6,539.9z"/>
</g>
<g>
  <path d="M834.1,539.9v-0.1h1.3V551h-1.4v-8.2H832v-1.2h0.2C833.7,541.6,834.1,541.1,834.1,539.9z"/>
  <path d="M839.4,548.1c0.4,1.1,1.1,1.8,2.6,1.8c1.6,0,2.4-0.9,2.4-2.1c0-1.2-0.9-2-2.6-2h-0.5v-1.2h0.3c1.5,0,2.7-0.5,2.7-1.9
  c0-1.3-1-1.9-2.2-1.9c-1.2,0-2.1,0.7-2.5,1.7l-1.3-0.5c0.6-1.6,2.1-2.4,3.7-2.4c2,0,3.6,1.2,3.6,3c0,1.2-0.7,2.3-2.1,2.6
  c1.6,0.3,2.3,1.4,2.3,2.7c0,2.2-1.8,3.2-3.9,3.2c-1.8,0-3.3-0.8-3.9-2.6L839.4,548.1z"/>
</g>
<g>
  <path d="M939.4,539.9v-0.1h1.3V551h-1.4v-8.2h-2.1v-1.2h0.2C939,541.6,939.4,541.1,939.4,539.9z"/>
  <path d="M943.6,545.3l0.6-5.5h6.4v1.2h-5.3l-0.3,3.2c0.6-0.6,1.5-0.9,2.4-0.9c2.1,0,3.7,1.6,3.7,3.8c0,2.4-1.6,4.1-4,4.1
  c-1.8,0-3.4-0.9-3.8-2.7l1.4-0.2c0.3,0.9,1,1.7,2.4,1.7c1.6,0,2.6-1.2,2.6-2.8c0-1.6-1-2.7-2.6-2.7c-0.8,0-1.7,0.4-2.1,1
  L943.6,545.3z"/>
</g>
<g>
  <path d="M169.6,159.9v-0.1h1.3V171h-1.4v-8.2h-2.1v-1.2h0.2C169.2,161.6,169.6,161.1,169.6,159.9z"/>
  <path d="M178.9,171v-2.9h-5.6v-1.4l5.1-6.9h2v7.2h1.8v1.2h-1.8v2.9H178.9z M178.9,166.9v-6l-4.3,6H178.9z"/>
  <path d="M185.1,169c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184,169.5,184.5,169,185.1,169z"/>
  <path d="M196.2,165.4c0,2.9-1.1,5.7-4.1,5.7s-4.1-2.8-4.1-5.7c0-2.9,1.1-5.8,4.1-5.8S196.2,162.5,196.2,165.4z M194.8,165.7v-0.7
  c0-2.7-1-4.2-2.6-4.2c-1.6,0-2.6,1.5-2.6,4.2v0.7c0,2.7,1,4.2,2.6,4.2C193.7,170,194.8,168.4,194.8,165.7z"/>
  <path d="M198,162c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,164.4,198,163.4,198,162z M199.1,162
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,160.7,199.1,161.3,199.1,162z M206.4,159.8h1.3
  l-6.8,11.2h-1.3L206.4,159.8z M204.5,168.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,170.1,204.5,168.8z
  M205.6,168.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,168,205.6,168.8z"/>
</g>
<g>
  <path d="M174.7,216.9v-0.1h1.3V228h-1.4v-8.2h-2.1v-1.2h0.2C174.3,218.6,174.7,218.1,174.7,216.9z"/>
  <path d="M180.5,216.9v-0.1h1.3V228h-1.4v-8.2h-2.1v-1.2h0.2C180,218.6,180.5,218.1,180.5,216.9z"/>
  <path d="M185.6,226c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184.5,226.5,185,226,185.6,226z"/>
  <path d="M188.9,228v-1.3c0.8-0.7,3.2-2.7,4-3.5c0.9-0.8,1.7-1.8,1.7-3.1c0-1.4-0.9-2.2-2.2-2.2c-1.4,0-2.1,1-2.2,2.4l-1.4-0.1
  c0.1-2.2,1.5-3.5,3.6-3.5c2.2,0,3.7,1.3,3.7,3.5c0,1.6-0.8,2.7-3.3,4.8l-2,1.7h5.5v1.2H188.9z"/>
  <path d="M198,219c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,221.4,198,220.4,198,219z M199.1,219
  c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S199.1,218.3,199.1,219z M206.4,216.8h1.3l-6.8,11.2h-1.3
  L206.4,216.8z M204.5,225.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,227.1,204.5,225.8z M205.6,225.8
  c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,225,205.6,225.8z"/>
</g>
<g>
  <path d="M173.6,279.7c0-3,1.2-6.1,4.4-6.1c1.6,0,2.7,0.7,3.3,1.8l-1.4,0.4c-0.5-0.7-1.1-1.1-2-1.1c-2.1,0-3,2.2-3,4.5l0,0
  c0.5-0.8,1.4-1.6,3-1.6c2.1,0,3.6,1.6,3.6,3.6c0,2.2-1.6,3.8-3.9,3.8c-2.4,0-4.2-1.8-4.2-5.2V279.7z M177.8,284
  c1.4,0,2.5-1,2.5-2.6s-1-2.6-2.5-2.6c-1.5,0-2.5,1-2.5,2.5C175.3,282.9,176.3,284,177.8,284z"/>
  <path d="M184.8,283c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C183.7,283.5,184.2,283,184.8,283z"/>
  <path d="M193.3,285v-2.9h-5.6v-1.4l5.1-6.9h2v7.2h1.8v1.2h-1.8v2.9H193.3z M193.3,280.9v-6l-4.3,6H193.3z"/>
  <path d="M198,276c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,278.4,198,277.4,198,276z M199.1,276
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,274.7,199.1,275.3,199.1,276z M206.4,273.8h1.3
  l-6.8,11.2h-1.3L206.4,273.8z M204.5,282.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,284.1,204.5,282.8z
  M205.6,282.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,282,205.6,282.8z"/>
</g>
<g>
  <path d="M174.6,330.9v-0.1h1.3V342h-1.4v-8.2h-2.1v-1.2h0.2C174.1,332.6,174.6,332.1,174.6,330.9z"/>
  <path d="M180.4,330.9v-0.1h1.3V342h-1.4v-8.2h-2.1v-1.2h0.2C179.9,332.6,180.4,332.1,180.4,330.9z"/>
  <path d="M185.5,340c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184.4,340.5,184.9,340,185.5,340z"/>
  <path d="M188.9,336.3l0.6-5.5h6.4v1.2h-5.3l-0.3,3.2c0.6-0.6,1.5-0.9,2.4-0.9c2.1,0,3.7,1.6,3.7,3.8c0,2.4-1.6,4.1-4,4.1
  c-1.8,0-3.4-0.9-3.8-2.7l1.4-0.2c0.3,0.9,1,1.7,2.4,1.7c1.6,0,2.6-1.2,2.6-2.8c0-1.6-1-2.7-2.6-2.7c-0.8,0-1.7,0.4-2.1,1
  L188.9,336.3z"/>
  <path d="M198,333c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,335.4,198,334.4,198,333z M199.1,333
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,331.7,199.1,332.3,199.1,333z M206.4,330.8h1.3
  l-6.8,11.2h-1.3L206.4,330.8z M204.5,339.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,341.1,204.5,339.8z
  M205.6,339.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,339,205.6,339.8z"/>
</g>
<g>
  <path d="M173.9,450.7c0-3,1.2-6.1,4.4-6.1c1.6,0,2.7,0.7,3.3,1.8l-1.4,0.4c-0.5-0.7-1.1-1.1-2-1.1c-2.1,0-3,2.2-3,4.5l0,0
  c0.5-0.8,1.4-1.6,3-1.6c2.1,0,3.6,1.6,3.6,3.6c0,2.2-1.6,3.8-3.9,3.8c-2.4,0-4.2-1.8-4.2-5.2V450.7z M178.1,455
  c1.4,0,2.5-1,2.5-2.6s-1-2.6-2.5-2.6c-1.5,0-2.5,1-2.5,2.5C175.5,453.9,176.6,455,178.1,455z"/>
  <path d="M185.1,454c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184,454.5,184.5,454,185.1,454z"/>
  <path d="M188.3,450.7c0-3,1.2-6.1,4.4-6.1c1.6,0,2.7,0.7,3.3,1.8l-1.4,0.4c-0.5-0.7-1.1-1.1-2-1.1c-2.1,0-3,2.2-3,4.5l0,0
  c0.5-0.8,1.4-1.6,3-1.6c2.1,0,3.6,1.6,3.6,3.6c0,2.2-1.6,3.8-3.9,3.8c-2.4,0-4.2-1.8-4.2-5.2V450.7z M192.4,455
  c1.4,0,2.5-1,2.5-2.6s-1-2.6-2.5-2.6c-1.5,0-2.5,1-2.5,2.5C189.9,453.9,191,455,192.4,455z"/>
  <path d="M198,447c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,449.4,198,448.4,198,447z M199.1,447
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,445.7,199.1,446.3,199.1,447z M206.4,444.8h1.3
  l-6.8,11.2h-1.3L206.4,444.8z M204.5,453.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,455.1,204.5,453.8z
  M205.6,453.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,453,205.6,453.8z"/>
</g>
<g>
  <path d="M182.1,507.1c0,3-1.2,6.1-4.4,6.1c-1.6,0-2.7-0.7-3.3-1.8l1.4-0.4c0.5,0.7,1.1,1.1,2,1.1c2.1,0,3-2.2,3-4.5l0,0
  c-0.5,0.8-1.4,1.6-3,1.6c-2.1,0-3.6-1.6-3.6-3.6c0-2.2,1.6-3.8,3.9-3.8c2.4,0,4.2,1.8,4.2,5.2V507.1z M178,502.8
  c-1.4,0-2.5,1-2.5,2.6s1,2.6,2.5,2.6c1.5,0,2.5-1,2.5-2.5C180.5,503.9,179.4,502.8,178,502.8z"/>
  <path d="M185.1,511c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184,511.5,184.5,511,185.1,511z"/>
  <path d="M196.2,507.4c0,2.9-1.1,5.7-4.1,5.7s-4.1-2.8-4.1-5.7c0-2.9,1.1-5.8,4.1-5.8S196.2,504.5,196.2,507.4z M194.8,507.7v-0.7
  c0-2.7-1-4.2-2.6-4.2c-1.6,0-2.6,1.5-2.6,4.2v0.7c0,2.7,1,4.2,2.6,4.2C193.7,512,194.8,510.4,194.8,507.7z"/>
  <path d="M198,504c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,506.4,198,505.4,198,504z M199.1,504
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,502.7,199.1,503.3,199.1,504z M206.4,501.8h1.3
  l-6.8,11.2h-1.3L206.4,501.8z M204.5,510.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,512.1,204.5,510.8z
  M205.6,510.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,510,205.6,510.8z"/>
</g>
<g>
  <path d="M179,399v-2.9h-5.6v-1.4l5.1-6.9h2v7.2h1.8v1.2h-1.8v2.9H179z M179,394.9v-6l-4.3,6H179z"/>
  <path d="M185.1,397c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184,397.5,184.5,397,185.1,397z"/>
  <path d="M196.2,393.1c0,3-1.2,6.1-4.4,6.1c-1.6,0-2.7-0.7-3.3-1.8l1.4-0.4c0.5,0.7,1.1,1.1,2,1.1c2.1,0,3-2.2,3-4.5l0,0
  c-0.5,0.8-1.4,1.6-3,1.6c-2.1,0-3.6-1.6-3.6-3.6c0-2.2,1.6-3.8,3.9-3.8c2.4,0,4.2,1.8,4.2,5.2V393.1z M192.1,388.8
  c-1.4,0-2.5,1-2.5,2.6s1,2.6,2.5,2.6c1.5,0,2.5-1,2.5-2.5C194.6,389.9,193.6,388.8,192.1,388.8z"/>
  <path d="M198,390c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,392.4,198,391.4,198,390z M199.1,390
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,388.7,199.1,389.3,199.1,390z M206.4,387.8h1.3
  l-6.8,11.2h-1.3L206.4,387.8z M204.5,396.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,398.1,204.5,396.8z
  M205.6,396.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,396,205.6,396.8z"/>
</g>
<g>
  <path d="M179.1,114v-2.9h-5.6v-1.4l5.1-6.9h2v7.2h1.8v1.2h-1.8v2.9H179.1z M179.1,109.9v-6l-4.3,6H179.1z"/>
  <path d="M185.2,112c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1C184.1,112.5,184.6,112,185.2,112z"/>
  <path d="M196,105.7c0,1-0.5,2.1-1.9,2.5c1.6,0.4,2.2,1.7,2.2,2.8c0,2-2,3.1-4,3.1s-4-1.1-4-3.1c0-1.2,0.7-2.4,2.2-2.8
  c-1.4-0.4-1.9-1.5-1.9-2.5c0-1.9,1.8-3,3.7-3S196,103.7,196,105.7z M194.9,110.9c0-1.4-1.2-2-2.6-2c-1.4,0-2.6,0.7-2.6,2
  c0,1.4,1.2,2,2.6,2C193.7,113,194.9,112.3,194.9,110.9z M194.6,105.8c0-1.2-1.1-1.9-2.3-1.9s-2.3,0.7-2.3,1.9c0,1.2,1,1.9,2.3,1.9
  S194.6,107,194.6,105.8z"/>
  <path d="M198,105c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4C199,107.4,198,106.4,198,105z M199.1,105
  c0,0.8,0.5,1.4,1.3,1.4c0.8,0,1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4C199.6,103.7,199.1,104.3,199.1,105z M206.4,102.8h1.3
  l-6.8,11.2h-1.3L206.4,102.8z M204.5,111.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S204.5,113.1,204.5,111.8z
  M205.6,111.8c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S205.6,111,205.6,111.8z"/>
</g>
<g>
  <rect x="159.5" y="76" width="1" height="456"/>
</g>
<g>
  <rect x="412.9" y="85.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="899.2" y="142.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="750.9" y="199.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="497.4" y="256.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="766.7" y="313.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="418.2" y="370.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="508" y="427.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <rect x="634.7" y="484.5" fill="#005EA5" width="1" height="38"/>
</g>
<g>
  <path d="M301.5,20.3V30h-1.3V18.8h2l5.8,9.2v-9.2h1.3V30h-1.7L301.5,20.3z"/>
  <path d="M314.2,30.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C316.1,29.7,315.3,30.2,314.2,30.2z M314.3,26.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4L314.3,26.4z
  "/>
  <path d="M322.3,28c0,0.5,0.1,1,1,1c0.2,0,0.8,0,1-0.1l0.1,1.2c0,0-0.8,0.1-1.4,0.1c-1.3,0-2-0.5-2-1.9v-5.1h-1.5V22h1.5v-2.6
  l1.3-0.5V22h2.2v1.2h-2.2V28z"/>
  <path d="M327,18.8c0.5,0,1,0.4,1,1c0,0.5-0.4,1-1,1c-0.5,0-1-0.4-1-1C326,19.2,326.5,18.8,327,18.8z M327.6,30h-1.3v-8h1.3V30z"/>
  <path d="M337.1,26c0,2.4-1.5,4.1-3.7,4.1s-3.7-1.7-3.7-4.1c0-2.4,1.5-4.2,3.7-4.2S337.1,23.6,337.1,26z M335.7,26.1L335.7,26.1
  c0-1.7-0.8-3.1-2.3-3.1s-2.3,1.4-2.3,3v0.1c0,1.6,0.8,2.9,2.3,2.9S335.7,27.6,335.7,26.1z"/>
  <path d="M339.2,22h1.3v0.9c0.5-0.7,1.4-1.1,2.3-1.1c1.8,0,2.7,1.3,2.7,2.7V30h-1.3v-5c0-1.4-0.7-1.9-1.6-1.9c-1,0-2,0.7-2,2.2V30
  h-1.3V22z"/>
  <path d="M350.2,30.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C352,29.7,351.2,30.2,350.2,30.2z M350.2,26.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4L350.2,26.4z"
  />
  <path d="M356.1,18.8h1.3v9.4c0,0.5,0.2,0.8,0.8,0.8c0.3,0,0.6,0,0.8,0l0.1,1.1c0,0-0.8,0.1-1.3,0.1c-0.9,0-1.7-0.4-1.7-1.6V18.8z"
  />
  <path d="M366.5,30.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C368.4,29.7,367.6,30.2,366.5,30.2z M366.5,26.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4L366.5,26.4z
  "/>
  <path d="M374.2,30l-2.5-8h1.5l1.9,6.8l1.9-6.8h1.5l-2.5,8H374.2z"/>
  <path d="M380.9,26.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H380.9z M380.9,25.4h4.2c0-1.2-0.7-2.4-2-2.4C381.8,23,381,24.1,380.9,25.4z"/>
  <path d="M392.6,23.2h-0.2c-1.3,0-2.6,0.5-2.6,2.7V30h-1.3v-8h1.3v1.3c0.4-0.9,1.4-1.4,2.4-1.4h0.4V23.2z"/>
  <path d="M396.5,30.2c-1.6,0-2.8-0.9-2.8-2.4c0-1.2,0.8-2.1,2.1-2.3l2.8-0.4v-0.5c0-1.2-0.8-1.6-1.8-1.6c-0.9,0-1.7,0.3-2.3,0.6
  l-0.5-1c0.9-0.5,2-0.7,2.9-0.7c1.9,0,3,0.9,3,2.5v3.7c0,0.5,0.2,0.9,0.7,1.1l-0.7,0.9c-0.5-0.1-0.9-0.5-1.1-1
  C398.4,29.7,397.6,30.2,396.5,30.2z M396.5,26.4c-0.9,0.1-1.5,0.4-1.5,1.2c0,0.9,0.8,1.4,1.6,1.4c1,0,2-0.6,2-1.6v-1.4L396.5,26.4z
  "/>
  <path d="M405.3,21.9c0.9,0,1.7,0.3,2.3,1.1V22h1.3v8.1c0,2-1.7,2.6-3.4,2.6c-0.9,0-2.1-0.2-3-0.6l0.4-1.1c0.6,0.3,1.6,0.6,2.5,0.6
  c1.3,0,2.1-0.5,2.1-1.7v-1.5c-0.5,0.8-1.4,1.1-2.3,1.1c-2,0-3.2-1.6-3.2-3.7C402.1,23.5,403.3,21.9,405.3,21.9z M407.6,25.5
  c0-1.4-0.6-2.5-2-2.5c-1.5,0-2.1,1.1-2.1,2.5v0.1c0,1.4,0.7,2.5,2.1,2.5C407,28.1,407.6,27,407.6,25.5L407.6,25.5z"/>
  <path d="M412.4,26.4c0.1,1.5,1,2.6,2.5,2.6c0.9,0,1.5-0.3,2.1-0.8l0.7,0.9c-0.7,0.6-1.7,1-2.8,1c-2.3,0-3.8-1.7-3.8-4.1
  c0-2.4,1.4-4.2,3.6-4.2c2.1,0,3.4,1.7,3.4,4.1v0.4H412.4z M412.4,25.4h4.2c0-1.2-0.7-2.4-2-2.4C413.3,23,412.4,24.1,412.4,25.4z"/>
  <path d="M387.7,49v-2.9h-5.6v-1.4l5.1-6.9h2V45h1.8v1.2h-1.8V49H387.7z M387.7,45v-6l-4.3,6H387.7z"/>
  <path d="M393.8,47c0.6,0,1.1,0.5,1.1,1.1c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1C392.7,47.5,393.2,47,393.8,47z"/>
  <path d="M405,43.1c0,3-1.2,6.1-4.5,6.1c-1.6,0-2.7-0.7-3.3-1.8l1.4-0.4c0.5,0.7,1.1,1.1,2,1.1c2.1,0,3-2.2,3-4.5l0,0
  c-0.5,0.8-1.4,1.6-3,1.6c-2.1,0-3.6-1.6-3.6-3.6c0-2.2,1.6-3.8,3.9-3.8c2.4,0,4.2,1.8,4.2,5.2V43.1z M400.8,38.8
  c-1.4,0-2.5,1-2.5,2.6s1,2.6,2.5,2.6c1.5,0,2.5-1,2.5-2.5C403.3,39.9,402.3,38.8,400.8,38.8z"/>
  <path d="M406.7,40c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S406.7,41.4,406.7,40z M407.8,40
  c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S407.8,39.3,407.8,40z M415.1,37.8h1.3L409.6,49h-1.3L415.1,37.8z
  M413.2,46.8c0-1.3,1.1-2.4,2.4-2.4s2.4,1,2.4,2.4c0,1.3-1.1,2.4-2.4,2.4S413.2,48.1,413.2,46.8z M414.4,46.8
  c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4c0-0.8-0.5-1.4-1.3-1.4S414.4,46,414.4,46.8z"/>
</g>
<g>
  <rect x="418.2" y="57" fill="#005EA5" width="1" height="475"/>
</g>
</svg>
<div class="graph-label" style="position: relative">
  <span style="position: absolute; top: -35px; left: 150px; font-size: 16px;">unemployment rate</span>  
</div>
