<main id="content" role="main">
  <div style="padding-top: 50px">
    <p class="lede">
      This data is not yet available. You can find published data related to  "<%=@taxonomy_level.name.titleize %>" on <a href="gov.uk">GOV.UK</a> and <a href="www.ons.org.uk">www.ons.org.uk</a>
    </p>
  </div>

</main>
