
<main id="content" role="main">

  <h1 class="heading-large"> Ethnicity and Tenure </h1>

  <p class="lede"> Are people in the relevant group more or less likely to live in a council house, be private renters or own their own home?</p>


  <div class="grid-row question-tabs">
    <ul>
      <li id="ethnicity-selector"><a href="#ethnicity-section"> Ethnicity </a></li>
      <li id="age-selector"><a href="#age-section"> Houesehold Age </a></li>
      <li id="nationality-selector"><a href="#nationality-section"> Nationality </a></li>
      <li id="income-selector"><a href="#income-section"> Income </a></li>
      <li id="region-selector"><a href="#region-section"> Region </a></li>
    </ul>
  </div>

  <div class="grid-row graph-section" id="ethnicity-section">
    <div class="column-one-half question-graph">
      <img src="/assets/images/ChartByEthnicity.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/TableByEthnicity.png" alt="">
    </div>
  </div>

  <div class="grid-row graph-section" id="age-section">
    <div class="column-one-half question-graph">
      <img src="/assets/images/ChartByHouseholdAge.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/TableByHouseholdAge.png" alt="">
    </div>
  </div>

  <div class="grid-row graph-section" id="income-section">
    <div class="column-one-half question-graph">
      <img src="/assets/images/ChartByIncome.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/TableByIncome.png" alt="">
    </div>
  </div>

  <div class="grid-row graph-section" id="nationality-section">
    <div class="column-one-half question-graph">
      <img src="/assets/images/ChartByNationality.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/TableByNationality.png" alt="">
    </div>
  </div>

  <div class="grid-row graph-section" id="region-section">
    <div class="column-one-half question-graph">
      <img src="/assets/images/ChartByRegion.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/TableByRegion.png" alt="">
    </div>
  </div>

</main>
