<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.reverse.each do |crumb| %>
      <% if crumb != "homepage" %>
        <li> <a href="/<%=crumb%>"><%=crumb.titleize%></a></li>
      <% else %>
        <li> <a href = "/"> Homepage </a> </li>
      <% end %>
    <% end %>
  </ol>
</div>

<h1 class="heading-large"> How do students perform in their 8 best GCSEs?</h1>

<p class="lede">
  Attainment 8 measures a student's average grade across eight subjects. This new measure is designed to prioritise the importance of English and Mathematics and encourage schools to offer a broad, well-balanced curriculum.
</p>

<p class="lede">
  Attainment 8 values are calculated from a combination of student GCSE scores where A* = 8, A = 7, B = 6, C = 5, and so on.
</p>

<p class="lede">
This data is published by the Department for Education.</p>

<p> <a href="http://www.gov.uk">Download data in csv or xls format</a> for all of England or a local authority.</p>

<p>Read the <a href="#">further information and guidance </a>about the data in the tables.
</p>

<div class="grid-row question-tabs">
  <ul>
    <li id="ethnicity-selector"><a href="#ethnicity-section"> All </a></li>
    <li id="gender-selector"><a href="#gender-section"> Gender </a></li>
    <li id="region-selector"><a href="#region-section">Region </a></li>

  </ul>
</div>

<div class="grid-row graph-section" id="ethnicity-section">
  <h3 class="heading-medium"> Student GCSE achievement </h3>
  <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Chart_1_GCSE_Average_by_Ethnicity.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Table_1_GCSE_Average_by_Ethnicity.png" alt="">
  </div>
</div>

<div class="graph-section" id="gender-section">
  <h3 class="heading-medium"> Student GCSE achievement by race grouped by gender </h3>
  <div class="grid-row" >
    <div class="column-one-half question-graph">
      <img src="/assets/images/attainment8/Chart_2a_GCSE_Average_Ethnicity_then_Sex.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/attainment8/Table_2a_GCSE_Average_Ethnicity_then_Sex.png" alt="">
    </div>
  </div>

  <h3 class="heading-medium"> Student GCSE achievement by gender grouped by race </h3>

  <div class="grid-row">
    <div class="column-one-half question-graph">
      <img src="/assets/images/attainment8/Chart_2b_GCSE_Average_Sex_then_Ethnicity.png" alt="">
    </div>
    <div class="column-one-half question-graph">
      <img src="/assets/images/attainment8/Table_2b_GCSE_Average_Sex_then_Ethnicity.png" alt="">
    </div>
  </div>
</div>


<div class="grid-row graph-section" id="region-section">
  <h3 class="heading-medium"> Student GCSE achievement by UK region grouped by race  </h3>
  <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Chart_3b_GCSE_Average_Ethnicity_then_Region.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Chart_3b_GCSE_Average_Ethnicity_then_Region.png" alt="">
  </div>
</div>



