
<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
        <li> <a href="<%=crumb.link%>"><%=crumb.breadcrumb_name%></a></li>
    <% end %>
  </ol>
</div>


<div class='grid-row'>
  <div class='column-two-thirds'>
    <h1 class='heading-large'>
      <span class='heading-secondary'>
        Education
      </span>
      Average GCSE results – known as ‘Attainment&nbsp;8’
    </h1>

    <div class="metadata">
      <dl>
        <dt>Source:</dt>
          <dd>
            <a href="https://www.gov.uk/government/organisations/department-for-education">
              Department of education
            </a>
          </dd>
        <dt>Last updated:</dt>
        <dd>
          13 October 2016
        </dd>
      </dl>
    </div>

    <p>
      Attainment 8 measures a student’s average grade across 8 subjects to give a measure of success across GCSE subjects and equivalent qualifications. 
    </p>
  </div>

  <div class='column-two-thirds'>
    <h2 class='table-name heading-medium'>
      Attainment 8 score by race
    </h2>
  </div>
  <div class='column-full'>
    <table>
      <thead class='visually-hidden'>
        <tr>
          <td class='visually-hidden'>Race</td>
          <td>Score</td>
        </tr>
      </thead>
      <tbody>
        <tr class='primary'>
          <td class='first-column'>Chinese</td>
          <td class='data'>6.24</td>
        </tr>
        <tr class='primary with-children'>
          <td class='first-column'>
            <span class='breakdown-controller' data-target='breakdown-of-asian-race'>
              Asian
            </span>
          </td>
          <td class='data'>5.25</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-race js-hidden'>
          <td>Indian</td>
          <td class='data'>5.70</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-race js-hidden'>
          <td>Pakistani</td>
          <td class='data'>4.85</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-race js-hidden'>
          <td>Bangladeshi</td>
          <td class='data'>5.21</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-race js-hidden'>
          <td>Any other Asian background</td>
          <td class='data'>5.50</td>
        </tr>
        <tr class='primary with-children'>
          <td class='first-column'>
            <span class='breakdown-controller' data-taget='breakdown-of-mixed'>Mixed</span>
          </td>
          <td class='data'>5.05</td>
        </tr>
        <tr class='primary with-children'>
          <td class='first-column'><span class='breakdown-controller' data-taget='breakdown-of-white'>White</span></td>
          <td class='data'>4.97</td>
        </tr>
        <tr class='primary with-children'>
          <td class='first-column'><span class='breakdown-controller' data-taget='breakdown-of-black'>Black</span></td>
          <td class='data'>4.87</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class='column-two-thirds'>
    <h2 class='table-name heading-medium'>
      Attainment 8 score by race and gender
    </h2>
  </div>
  <div class='column-full'>
    <table>
      <thead class=''>
        <tr>
          <td class='visually-hidden'>Race</td>
          <td class='data-title'>Female score</td>
          <td class='data-title'>Male score</td>
        </tr>
      </thead>
      <tbody>
        <tr class='primary'>
          <td class='first-column'>Chinese</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>Asian</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>Mixed</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>White</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>Black</td>
          <td class='data'>4.87</td>
          <td class='data'>5.00</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class='column-two-thirds'>
    <h2 class='table-name heading-medium'>
      Attainment 8 score by race and location
    </h2>
  </div>
  <div class='column-full'>
    <table class='11-column'>
      <thead class=''>
        <tr>
          <td class='visually-hidden'>Race</td>
          <td class='data-title'><span class='right-align'>North east</span></td></td>
          <td class='data-title'><span class='right-align'>North west</span></td>
          <td class='data-title'><span class='right-align'>Yorkshire and the Humber</span></td>
          <td class='data-title'><span class='right-align'>East Midlands</span></td>
          <td class='data-title'><span class='right-align'>West Midlands</span></td>
          <td class='data-title'><span class='right-align'>East</span></td>
          <td class='data-title'><span class='right-align'>London</span></td>
          <td class='data-title'><span class='right-align'>Inner London</span></td>
          <td class='data-title'><span class='right-align'>Outer London</span></td>
          <td class='data-title'><span class='right-align'>South East</span></td>
        </tr>
      </thead>
      <tbody>
        <tr class='primary'>
          <td class='first-column'>Chinese</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>Asian</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>Mixed</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>White</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>Black</td>
          <td class='data'>4.87</td>
          <td class='data'>5.00</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='column-two-thirds'>
    <h2 class='table-name heading-medium'>
      Attainment 8 score by race and free school meal eligibility
    </h2>
  </div>
  <div class='column-full'>
    <table>
      <thead class=''>
        <tr>
          <td class='visually-hidden'>Race</td>
          <td class='data-title'>Eligible for free school meals</td>
          <td class='data-title'>Not eligible for free school meals</td>
        </tr>
      </thead>
      <tbody>
        <tr class='primary'>
          <td class='first-column'>Chinese</td>
          <td class='data'>6.24</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column'>
            <span class='breakdown-controller' data-target='breakdown-of-asian-school-meal'>
              Asian
            </td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Indian</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Pakistani</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Bangladeshi</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='race-breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Any other Asian background</td>
          <td class='data'>5.25</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column breakdown-controller'>Mixed</td>
          <td class='data'>5.05</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column breakdown-controller'>White</td>
          <td class='data'>4.97</td>
          <td class='data'>5.00</td>
        </tr>
        <tr class='primary'>
          <td class='first-column breakdown-controller'>Black</td>
          <td class='data'>4.87</td>
          <td class='data'>5.00</td>
        </tr>
      </tbody>
    </table>

  </div>
 

  </div>
</div>


