
<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
      <li> <a href="<%=crumb.link%>"><%=crumb.breadcrumb_name%></a></li>
    <% end %>
  </ol>
</div>


<div class='grid-row'>
  <div class='column-two-thirds'>
    <h1 class='heading-large'>
      <span class='heading-secondary'>
        Education
      </span>
      Average GCSE results – known as ‘Attainment&nbsp;8’
    </h1>

    <div class="metadata">
      <dl>
        <dt>Source:</dt>
        <dd>
          <a href="https://www.gov.uk/government/organisations/department-for-education">
            Department for Education
          </a>
        </dd>
        <dt>Last updated:</dt>
        <dd>
          13 October 2016
        </dd>
      </dl>
    </div>

    <p>
      Attainment 8 measures a student’s average grade across 8 subjects to give a measure of success across GCSE subjects and equivalent qualifications.
    </p>

  </div>

  <div class='column-two-thirds'>
    <h2 class='table-name heading-medium'>
      Attainment 8 score by ethnicity
    </h2>
  </div>
  <div class='column-full'>
    <table class=''>
      <thead class='visually-hidden'>
        <tr>
          <td class='visually-hidden'>Ethnicity</td>
          <td>Score</td>
        </tr>
      </thead>
      <tbody>
        <tr class=''>
          <td class=''>Chinese</td>
          <td>6.24</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-asian'></div>
            <span class='breakdown-controller' data-target='breakdown-of-asian'>
              Asian
            </span>
          </td>
          <td>5.25</td>
        </tr>
        <tr class='breakdown breakdown-of-asian js-hidden'>
          <td>Indian</td>
          <td>5.70</td>
        </tr>
        <tr class='breakdown breakdown-of-asian js-hidden'>
          <td>Pakistani</td>
          <td>4.85</td>
        </tr>
        <tr class='breakdown breakdown-of-asian js-hidden'>
          <td>Bangladeshi</td>
          <td>5.21</td>
        </tr>
        <tr class='breakdown breakdown-of-asian js-hidden'>
          <td>Any other Asian background</td>
          <td>5.50</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-mixed'></div>
            <span class='breakdown-controller' data-target='breakdown-of-mixed'>
              Mixed
            </span>
          </td>
          <td>5.05</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed js-hidden'>
          <td>White and Black Caribbean</td>
          <td>4.63</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed js-hidden'>
          <td>White and Black African</td>
          <td>5.02</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed js-hidden'>
          <td>White and Asian</td>
          <td>5.45</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed js-hidden'>
          <td>Any other mixed background</td>
          <td>5.18</td>
        </tr>
        <tr class=''>
          <td class=''>Any other ethnic group</td>
          <td>5.01</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-white'></div>
            <span class='breakdown-controller' data-target='breakdown-of-white'>White</span>
          </td>
          <td>4.97</td>
        </tr>
        <tr class='breakdown breakdown-of-white js-hidden'>
          <td>White British</td>
          <td>4.97</td>
        </tr>
        <tr class='breakdown breakdown-of-white js-hidden'>
          <td>Irish</td>
          <td>5.45</td>
        </tr>
        <tr class='breakdown breakdown-of-white js-hidden'>
          <td>Traveller and Irish heritage</td>
          <td>2.93</td>
        </tr>
        <tr class='breakdown breakdown-of-white js-hidden'>
          <td>Gypsy and Roma</td>
          <td>2.04</td>
        </tr>
        <tr class='breakdown breakdown-of-white js-hidden'>
          <td>Any other White background</td>
          <td>4.95</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-black'></div>
            <span class='breakdown-controller' data-target='breakdown-of-black'>Black</span>
          </td>
          <td>4.87</td>
        </tr>
        <tr class='breakdown breakdown-of-black js-hidden'>
          <td>Black Caribbean</td>
          <td>4.54</td>
        </tr>
        <tr class='breakdown breakdown-of-black js-hidden'>
          <td>Black African</td>
          <td>5.03</td>
        </tr>
        <tr class='breakdown breakdown-of-black js-hidden'>
          <td>Any other Black background</td>
          <td>4.70</td>
        </tr>
        <tr class=''>
          <td class=''>Unclassified</td>
          <td>4.40</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='column-two-thirds'>
    <h3 class='heading-small'>
      Summary
    </h3>
    <ul>
      <li>
        The average Attainment 8 score was 4.99. Both White and Black students fell below this.
      </li>
      <li>
        Chinese pupils had the highest average Attainment 8 score of 6.24.
      </li>
      <li>
        Gypsy and Roma students had the lowest Attainment 8 score of 20.4, 3 times less than Chinese students.
      </li>
    </ul>

    <p></p>

    <h2 class='table-name heading-medium'>
      Attainment 8 score by ethnicity and gender
    </h2>
  </div>
  <div class='column-full'>
    <table class=''>
      <thead class=''>
        <tr>
          <td class='visually-hidden'>Ethnicity</td>
          <td class=''>Female score</td>
          <td class=''>Male score</td>
        </tr>
      </thead>
      <tbody>
        <tr class=''>
          <td class=''>Chinese</td>
          <td>6.24</td>
          <td>5.00</td>
        </tr>
        <tr class=''>
          <td class=''>Asian</td>
          <td>5.09</td>
          <td>5.50</td>
        </tr>
        <tr class=''>
          <td class=''>Mixed</td>
          <td>4.82</td>
          <td>5.31</td>
        </tr>
        <tr class=''>
          <td class=''>White</td>
          <td>4.76</td>
          <td>5.20</td>
        </tr>
        <tr class=''>
          <td class=''>Black</td>
          <td>4.59</td>
          <td>5.19</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='column-two-thirds'>
    <h3 class='heading-small'>
      Summary
    </h3>
    <ul>
      <li>
        Average Attainment 8 score was higher for girls than for boys across all ethnic groups. Girls were 4.6 points higher than boys at 52.3 for all ethnic groups.
      </li>
      <li>
        Chinese girls had the highest attainment 8 score at 64.8. Gypsy and Roma boys had the lowest attainment 8 score at 1.9.
      </li>
      <li>
        The smallest difference in attainment 8 scores between genders was in the Gypsy and Roma ethnic group where girls scored 2.5 points higher. The largest difference was for ‘any other Black background’ where girls scored 7.2 points higher.
      </li>
    </ul>

    <h2 class='table-name heading-medium'>
      Attainment 8 score by ethnicity and location
    </h2>
  </div>
  <div class='column-full'>
    <table class=' many-column'>
      <thead class=''>
        <tr>
          <td class='visually-hidden'>Ethnicity</td>
          <td class=''><span class='right-align'>North east</span></td></td>
          <td class=''><span class='right-align'>North west</span></td>
          <td class=''><span class='right-align'>Yorkshire and the Humber</span></td>
          <td class=''><span class='right-align'>East Midlands</span></td>
          <td class=''><span class='right-align'>West Midlands</span></td>
          <td class=''><span class='right-align'>East</span></td>
          <td class=''><span class='right-align'>London</span></td>
          <td class=''><span class='right-align'>Inner London</span></td>
          <td class=''><span class='right-align'>Outer London</span></td>
          <td class=''><span class='right-align'>South East</span></td>
        </tr>
      </thead>
      <tbody>
        <tr class=''>
          <td class=''>Chinese</td>
          <td>6.12</td>
          <td>6.19</td>
          <td>6.31</td>
          <td>6.12</td>
          <td>6.13</td>
          <td>6.23</td>
          <td>6.44</td>
          <td>6.34</td>
          <td>6.48</td>
          <td>6.41</td>
        </tr>
        <tr class=''>
          <td class=''>Asian</td>
          <td>5.31</td>
          <td>5.12</td>
          <td>4.77</td>
          <td>5.21</td>
          <td>5.08</td>
          <td>5.37</td>
          <td>5.58</td>
          <td>5.35</td>
          <td>5.70</td>
          <td>5.56</td>
        </tr>
        <tr class=''>
          <td class=''>Mixed</td>
          <td>5.10</td>
          <td>4.86</td>
          <td>4.67</td>
          <td>4.75</td>
          <td>4.75</td>
          <td>5.19</td>
          <td>4.92</td>
          <td>4.87</td>
          <td>4.96</td>
          <td>4.96</td>
        </tr>
        <tr class=''>
          <td class=''>White</td>
          <td>4.86</td>
          <td>4.92</td>
          <td>4.92</td>
          <td>4.86</td>
          <td>4.90</td>
          <td>5.00</td>
          <td>5.17</td>
          <td>5.21</td>
          <td>5.16</td>
          <td>5.07</td>
        </tr>
        <tr class=''>
          <td class=''>Black</td>
          <td>5.23</td>
          <td>4.95</td>
          <td>4.81</td>
          <td>4.84</td>
          <td>4.85</td>
          <td>5.08</td>
          <td>5.20</td>
          <td>5.10</td>
          <td>5.26</td>
          <td>5.21</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='column-two-thirds'>
    <h2 class='table-name heading-medium'>
      Attainment 8 score by ethnicity and free school meal eligibility
    </h2>
  </div>
  <div class='column-full'>
    <table class=''>
      <thead class=''>
        <tr>
          <td class='visually-hidden'>Ethnicity</td>
          <td class=''>Eligible for free school meals</td>
          <td class=''>Not eligible for free school meals</td>
        </tr>
      </thead>
      <tbody>
        <tr class=''>
          <td class=''>Chinese</td>
          <td>6.24</td>
          <td>5.00</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-asian-school-meal'></div>
            <span class='breakdown-controller' data-target='breakdown-of-asian-school-meal'>
              Asian
            </span>
          </td>
          <td>5.25</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Indian</td>
          <td>5.25</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Pakistani</td>
          <td>5.25</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Bangladeshi</td>
          <td>5.25</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-asian-school-meal js-hidden'>
          <td>Any other Asian background</td>
          <td>5.25</td>
          <td>5.00</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-mixed-school-meal'></div>
            <span class='breakdown-controller' data-target='breakdown-of-mixed-school-meal'>
              Mixed
            </span>
          </td>
          <td>5.05</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed-school-meal js-hidden'>
          <td>White and Black Caribbean</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed-school-meal js-hidden'>
          <td>White and Black African</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed-school-meal js-hidden'>
          <td>White and Asian</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-mixed-school-meal js-hidden'>
          <td>Any other mixed background</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class=''>
          <td class=''>Any other ethnic group</td>
          <td>5.01</td>
          <td>5.01</td>
        </tr>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-white-school-meal'></div>
            <span class='breakdown-controller' data-target='breakdown-of-white-school-meal'>
              White
            </span>
            </td>
          <td>4.97</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-white-school-meal js-hidden'>
          <td>White British</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-white-school-meal js-hidden'>
          <td>Irish</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-white-school-meal js-hidden'>
          <td>Traveller and Irish heritage</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-white-school-meal js-hidden'>
          <td>Gypsy and Roma</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-white-school-meal js-hidden'>
          <td>Any other White background</td>
          <td>5.00</td>
          <td>5.00</td>
        <tr class=''>
          <td class=''>
            <div class='expand-triangle' id='triangle-breakdown-of-black-school-meal'></div>
            <span class='breakdown-controller' data-target='breakdown-of-black-school-meal'>Black</span>
          </td>
          <td>4.87</td>
          <td>4.87</td>
        </tr>
        <tr class='breakdown breakdown-of-black-school-meal js-hidden'>
          <td>Black Caribbean</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-black-school-meal js-hidden'>
          <td>Black African</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
        <tr class='breakdown breakdown-of-black-school-meal js-hidden'>
          <td>Any other Black background</td>
          <td>5.00</td>
          <td>5.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class='grid-row'>
  <div class='column-two-thirds'>

    <h3 class='heading-small'>
      Summary
    </h3>
    <p>
      Average Attainment 8 score was lower for children eligible for free school meals than for others across all ethnic groups (with the exception of Gypsy and Roma children). Children eligible for free school meals had an average attainment score of 39.0, 12.6 points lower than for other children.
    </p>
  </div>
</div>

<div class='grid-row'>
  <div class='column-full'>
    <div class='supporting-information'>
    </div>
  </div>

  <div class='column-two-thirds'>

    <h2 class='heading-medium'>
      What the data measures
    </h2>

    <h3 class='heading-small'>
      What ‘Attainment 8’ is
    </h3>
    <p>
      Attainment 8 measures the achievement of a pupil across 8 qualifications including mathematics (double weighted) and English (double weighted), 3 further qualifications that count in the English Baccalaureate (EBacc) measure and 3 further qualifications that can be GCSE qualifications (including EBacc subjects) or technical awards from the DfE approved list.
    </p>

    <h3 class='heading-small'>
      Ethnicity categories used in this analysis
    </h3>
    <ul>
      <li>White British</li>
      <li>White Irish</li>
      <li>Traveler of Irish Heritage</li>
      <li>Gypsy/Roma</li>
      <li>Other White</li>
      <li>White and Black Caribbean</li>
      <li>White and Black African</li>
      <li>White and Asian</li>
      <li>Other Mixed background</li>
      <li>Indian</li>
      <li>Pakistani</li>
      <li>Bangladeshi</li>
      <li>Other Asian Background</li>
      <li>Black African</li>
      <li>Black Carribbean</li>
      <li>Other Black background</li>
      <li>Chinese</li>
      <li>Other Background</li>
      <li>Unclassified</li>
    </ul>

    <h3 class='heading-small'>
      Population breakdown of students at the end of Key Stage 4
    </h3>
    <p>
      Key Stage 4 students are aged between 14 and 16.
    </p>
    <table class=''>
      <thead>
        <td>
          Ethnicity
        </td>
        <td>
          Percentage of Key Stage 4 students
        </td>
        <td>
          Number of people
        </td>
      </thead>
      <tbody>
        <tr>
          <td>White</td>
          <td>79.0%</td>
          <td>423,000</td>
        </tr>
        <tr>
          <td>Asian</td>
          <td>9.6%</td>
          <td>51,000</td>
        </tr>
        <tr>
          <td>Black</td>
          <td>5.2%</td>
          <td>30,000</td>
        </tr>
        <tr>
          <td>Mixed</td>
          <td>4.3%</td>
          <td>23,000</td>
        </tr>
        <tr>
          <td>Other ethnic group</td>
          <td>1.5%</td>
          <td>8,000</td>
        </tr>
        <tr>
          <td>Chinese</td>
          <td>0.4%</td>
          <td>2,000</td>
        </tr>
      </tbody>
    </table>

    <h3 class='heading-small'>
      Time period
    </h3>
    <p>
      2015 to 2016 inclusive
    </p>

    <h3 class='heading-small'>
      Locations
    </h3>
    <p>
      England only
    </p>

  </div>
</div>

<div class='grid-row'>
  <div class='column-full'>
    <div class='supporting-information'>
    </div>
  </div>

  <div class='column-two-thirds'>
    <h2 class='heading-medium'>
      How the data is measured
    </h2>
    <p>
      In 2016 a new secondary school accountability system was implemented. It includes two new headline measures: Attainment 8 and Progress 8. Schools had the option to adopt the new performance measures a year early in 2015.
    </p> 
    <p>
      From 2016, the headline indicator of school performance determining the floor standard is Progress 8. This replaces the previous headline measure, 5+ A* to C including English and maths.
    </p>

    <h3 class='heading-small'>
      Methodology
    </h3>
    <p>
      The data shows figures for the labour market status of people aged 16 and over, covering annual averages between 1993 and 2015 (excluding 2001). The data is all drawn from the Labour Force Survey and broken down by ethnic group, as reported by survey respondents. All data is for Great Britain and has not been seasonally adjusted.
    </p>
    <p>
      Results derived from a low number of responses are more likely to be affected by statistical variation, so observed changes might not reflect real differences. As such, caution is needed when interpreting short-term trends in the data especially for sub groups (for example, a particular ethnicity, age group and gender). Any values based on fewer than five responses have been completely suppressed. Values based on 5- 10 responses are shown, but marked by an asterisk (*). These should be used with particular caution.
    </p>

    <h3 class='heading-small'>
      Type of data
    </h3>
    <p>
      Administrative
    </p>

    <h3 class='heading-small'>
      Population
    </h3>
    <p>
      The statistics in this release cover the data collated for the 2016 secondary school performance tables. The performance tables and this release report results based on pupils at the end of key stage 4, who are typically aged 15 at the start of the academic year. The coverage of the local authority (LA) and regional statistics is statefunded schools only in England. This includes city technology colleges and academies but excludes hospital schools, pupil referral units and alternative provision.
    </p>

    <h3 class='heading-small'>
      Disclosure control
    </h3>
    <p>
      We preserve confidentiality. The Code of Practice for Official Statistics requires us to take reasonable steps to ensure that our published or disseminated statistics protect confidentiality.
    </p>

    <h3 class='heading-small'>
      Suppression rules
    </h3>
    <p>
      Values of 1 or 2, or a percentage based on 1 or 2 pupils who achieved; or 0, 1 or 2 pupils who did not achieve a particular level are suppressed in circumstances where non-suppression would lead to disclosure of pupils. Some additional figures have been suppressed to prevent the possibility of a suppressed figure being revealed.
    </p>
    <p>
      This suppression is consistent with our Statistical policy statement on confidentiality.
    </p>

    <h3 class='heading-small'>
      Estimation
    </h3>
    <p>
      We round figures percentages in this SFR are given to one decimal place.
    </p>
  </div> 
</div>

<div class='grid-row'>
  <div class='column-full'>
    <div class='supporting-information'>
    </div>
  </div>

  <div class='column-two-thirds'>
    <h2 class='heading-medium'>
     Data source
    </h2>
    <div class="metadata bigger-data">
      <dl>
        <dt>Source:</dt>
        <dd>
          <a href="https://www.gov.uk/government/organisations/department-for-education">
            Department for Education
          </a>
        </dd>
        <dt>First published:</dt>
        <dd>
          13 November 2014
        </dd>
        <dt>Last updated:</dt>
        <dd>
          13 October 2016
        </dd>
        <dt>Revisions:</dt>
        <dd>
          National Archive
        </dd>
        <dt>Contact:</dt>
        <dd>
          <a href='∞∞º'>
            gabriel.kite@dwp.gsi.gov.uk
          </a>
        </dd>        
      </dl>
    </div>
  </div>
</div>

<div class='grid-row'>
  <div class='column-full'>
    <div class='supporting-information'>
    </div>
  </div>

  <div class='column-two-thirds'>
    <h2 class='heading-medium'>
      Downloads
    </h2>
    <h3 class='heading-small'>
      Report
    </h3>
    <p class='margin-bottom-small'>
      Reports contain meta data and files across multiple tabs.
    </p>
    <ul class='no-bullets loose-list'>
      <li><a href='##¢¢'>Download attainment 8 report ODF</a> 10 kb</li>
      <li><a href='##¢¢'>Download attainment 8 report XLM</a> 25 kb</li>
    </ul>
    <h3 class='heading-small'>
      Machine-readable data
    </h3>
    <p class='margin-bottom-small'>
      Just the numbers.
    </p>
    <ul class='no-bullets loose-list margin-bottom-large'>
      <li>
        <a href='##¢¢'>Download attainment 8 data CVS</a> 10 kb
      </li>
    </ul>
    <p>
      <a href=''>Print this page</a>
    </p>
  </div>
</div>
</div>


