<h1 class="heading-xlarge">
  Further Information and Guidance
 </h1>


<h3 class="heading-medium">
  Source Information:
</h3>

 <div class="grid-row">
  <div class="column-one-half">
    <div class="govuk-metadata">
      <dl>
        <dt> Reference:</dt>
        <dd> SFR06/2015</dd>

        <dt>Date: </dt>
        <dd>29 January 2015</dd>

        <dt>Coverage: </dt>
        <dd>England, state-funded schools (including Academies and CTCs)</dd>

        <dt>Theme:  </dt>
        <dd>GCSEs (key stage 4)</dd>
      </dl>
    </div>
  </div>
  <div class="column-one-half">
    <div class="govuk-metadata">
      <dl>
        <dt>Issued by: </dt>
        <dd>Department for Education, Sanctuary Buildings, Great Smith Street, London SW1P 3BT</dd>

        <dt>Press office: </dt>
        <dd>020 7783 8300</dd>

        <dt>Public enquiries:</dt>
        <dd>0370 000 2288</dd>

        <dt>Statistician:</dt>
        <dd>Alex Elby</dd>

        <dt>Phone: </dt>
        <dd>020 7783 8457</dd>

        <dt>Email:</dt>
        <dd>attainment.characteristics@education.gsi.gov.uk</dd>
      </dl>
    </div>
  </div>
</div>

<h3 class="heading-medium">
  When reviewing the tables please note that:
</h3>

<div class="grid-row">
  <div class="column-whole">
    <p>
      We preserve confidentiality. The Code of Practice for Official Statistics requires us to take reasonable steps to ensure that our published or disseminated statistics protect confidentiality.
    </p>

    <p>
      We suppress some figures. Values of 1 or 2, or a percentage based on 1 or 2 pupils who achieved; or 0, 1 or 2 pupils who did not achieve a particular level are suppressed. Some additional figures have been suppressed to prevent the possibility of a suppressed figure being revealed. This suppression is consistent with our Statistical policy statement on confidentiality.
    </p>

    <p>
      We round numbers. Percentages are given to 1 decimal place but all gaps and differences have been calculated on unrounded data. Therefore some figures may not match those produced from the rounded figures shown in the tables.
    </p>

    <p>
    This is revised data. 2015/16 figures in this publication are based on revised data. There is no plan to re-issue this publication with final 2015/16 figures but final figures for 2015/16 will be made available in next year’s release. Any unplanned revisions will be made in accordance with our Statistical policy statement on revisions.

    </p>
    We provide underlying data. This release is accompanied by underlying data and metadata describing this data. This data is provided in csv format so that it can be loaded into the software of your choice.
    <p>

    </p>
      Attainment in Wales, Scotland and Northern Ireland: The Welsh Government publishes similar attainment data for schools in Wales. As in England, the national curriculum is divided into key stages and pupils are assessed at the end of key stage 1, 2 and 3 at ages 7, 11, and 14 respectively. Pupils are expected to achieve level 4 at the end of key stage 2 and level 5 at the end of key stage 3. Statutory assessment in Wales is by teacher assessments for all key stages. Further information is available on the Welsh Government website. The Scottish Government measures attainment nationally using the Scottish Survey of Literacy and Numeracy (SSLN), an annual sample survey of pupil attainment in primary and early secondary school. Further information is available on the Scottish Government website. Information on educational attainment for post-primary schools in Northern Ireland is available from the Northern Ireland Statistics and Research Agency.
    <p>

  </div>
</div>
<h3 class="heading-medium">
  Data characteristics:
</h3>

<div class="grid-row">
  <div class="column-whole">
    <ol class="list-bullet" >
      <li>Since September 2013, general further education (FE) colleges and sixth-form colleges have been able to directly enrol 14- to 16-year-olds. Entries and achievements for these pupils are included in figures as state-funded schools. As FE colleges do not complete the school census, pupils at the end of key stage 4 attending FE colleges are included in the all pupils lines but not in the majority of the characteristics breakdowns. Therefore, there are some cases where the individual characteristics breakdowns will not add up to the all pupils figure. Pupils in FE colleges are included in the free school meals and disadvantaged figures from 2015/16.</li>
      <li> Figures for 2009/10 to 2014/15 are based on final data, figures for 2015/16 are based on revised data. Pupils are included in the year in which they were at the end of key stage 4, but figures include entries and achievements by these pupils in previous academic years.</li>
      <li>  From 2009/10 until 2012/13 international GCSEs, accredited at time of publication, have been counted as GCSE equivalents and also as English & mathematics GCSEs. From 2013/14 a number of these qualifications are now regulated as Level 1/2 Certificates and are counted in the same way as a GCSE.</li>
      <li>  State-funded schools include academies, free schools, city technology colleges, further education colleges with provision for 14- to 16-year-olds and state-funded special schools. They exclude independent schools, independent special schools, non-maintained special schools, hospital schools, pupil referral units and alternative provision. Alternative provision includes academy and free school alternative provision.</li>
      <li>  In 2013/14, two major reforms were implemented which affect the calculation of key stage 4 (KS4) performance measures data: 1) Professor Alison Wolf’s Review of Vocational Education recommendations which: restrict the qualifications counted; prevent any qualification from counting as larger than one GCSE; and cap the number of non-GCSEs included in performance measures at two per pupil, and 2) an early entry policy to only count a pupil’s first attempt at a qualification, in subjects counted in the English Baccalaureate.</li>
      <li>  In 2014/15 and earlier, where the English language and English literature option was chosen in English, exams in both must be taken and a C grade or above achieved in English language. In 2015/16, to meet the English requirement of the A*-C in English and maths attainment measure, a C in either English language or English literature counts and there is no requirement to take both.</li>
      <li> In 2014/15 and earlier, where the English language and English literature option was chosen in EBacc English, exams in both had to be taken and a C grade or above achieved in English language. In 2015/16, to meet the English requirement of the EBacc, exams in both must be taken and a C grade or above achieved in either English language or English literature.</li>
      <li>  In 2014/15, early entry policy, under which only a pupil’s first attempt at a qualification is counted in performance measures, was extended to all subjects.</li>
      <li>  Includes pupils for whom ethnicity or first language was not obtained, refused or could not be determined.</li>
      <li> Includes 'not known but believed to be English'.</li>
      <li> Includes 'not known but believed to be other than English'.</li>
      <li> Includes pupils for whom free school meal eligibility, special educational need (SEN) provision or SEN primary need could not be determined.</li>
      <li> From 2014/15, disadvantaged pupils include pupils known to be eligible for free school meals (FSM) in any spring, autumn, summer, alternative provision or pupil referral unit census from year 6 to year 11 or are looked after children for at least one day or are adopted from care.  For 2013/14 and earlier years, they include pupils known to be eligible for FSM in any spring, autumn, summer, alternative provision or pupil referral unit census from year 6 to year 11 or are looked after children. Please see the characteristics section of the quality and methodology document for more details.</li>

    </ol>
  </div>
</div>

<h3 class="heading-medium">
  Provide feedback or ask a query
</h3>
<div class="grid-row">
  <div class="column-whole">
    <p>
     Media queries: Press Office News Desk, Department for Education, Sanctuary Buildings, Great Smith Street, London SW1P 3BT. 020 7783 8300
    </p>

    <p>
      All others: Alex Elby, Education Standards, Evidence and Dissemination Division, Department for Education, Sanctuary Buildings, Great Smith Street, London SW1P 3BT. 0207 7838997   attainment.characteristics@education.gsi.gov.uk
    </p>
  </div>
</div>
