<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
        <li> <a href="<%=crumb.link%>"><%=crumb.breadcrumb_name%></a></li>
    <% end %>
  </ol>
</div>

<div style="padding-top: 50px">
  <p class="lede">
    This data is not yet available. You can find published data related to  "<%=@taxonomy_level.name.titleize %>" on <a href="http://gov.uk">GOV.UK</a> and <a href="http://www.ons.gov.uk">www.ons.gov.uk</a>
  </p>
</div>
