<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
      <li> <a href="<%=crumb.link%>"><%=crumb.display_name%></a></li>
    <% end %>
  </ol>
</div>

<h1 class="heading-large"> Ownership, rental and social housing</h1>

<p class="lede"> This data reflects the types of housing that people live in across England. Differences experienced by people of various race backgrounds should also take into account the age, income and regional factors as in some cases, these have a greater influence.</p>

<p> <a href="http://www.gov.uk">Download data in csv or xls format</a> for all of England or a local authority.</p>

<p>Read the <a href="#">further information and guidance </a>about the data in the tables.
</p>

<div class="grid-row question-tabs">
  <ul>
    <li id="ethnicity-selector"><a href="#ethnicity-section"> All </a></li>
    <li id="age-selector"><a href="#age-section"> Household Age </a></li>
    <li id="nationality-selector"><a href="#nationality-section"> Nationality </a></li>
    <li id="income-selector"><a href="#income-section"> Income </a></li>
    <li id="region-selector"><a href="#region-section"> Region </a></li>
  </ul>
</div>

<div class="grid-row graph-section" id="ethnicity-section">
  <div class="column-one-half question-graph">
    <img src="/assets/images/ChartByRace.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/TableByRace.png" alt="">
  </div>
</div>

<div class="grid-row graph-section" id="age-section">
  <div class="column-one-half question-graph">
    <img src="/assets/images/ChartByHouseholdAge.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/TableByHouseholdAge.png" alt="">
  </div>
</div>

<div class="grid-row graph-section" id="income-section">
  <div class="column-one-half question-graph">
    <img src="/assets/images/ChartByIncome.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/TableByIncome.png" alt="">
  </div>
</div>

<div class="grid-row graph-section" id="nationality-section">
  <div class="column-one-half question-graph">
    <img src="/assets/images/ChartByNationality.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/TableByNationality.png" alt="">
  </div>
</div>

<div class="grid-row graph-section" id="region-section">
  <div class="column-one-half question-graph">
    <img src="/assets/images/ChartByRegion.png" alt="">
  </div>
  <div class="column-one-half question-graph">
    <img src="/assets/images/TableByRegion.png" alt="">
  </div>
</div>

