
<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
        <li> <a href="<%=crumb.link%>"><%=crumb.breadcrumb_name%></a></li>
    <% end %>
  </ol>
</div>

<h1 class="heading-xlarge">
  Smoking prevalence at age 15
</h1>

<div class="grid-row question-tabs" id="navigation-tabs">
  <div class="column-two-thirds">
    <div class = "tabs-container">

      <ul class="tabs-nav">
        <li id="current-selector"><a href="#current-section"> Current </a></li>
        <li id="regular-selector"><a href="#gender-section">Regular </a></li>
        <li id="occasional-selector"><a href="#occasional-section">Occasional </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="graph-section" id="current-section">
  <h3 class="heading-medium"> Current smokers </h3>
  <div class="grid-row">
    <div class="column-two-thirds question-graph">

      <div id="container" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
    </div>

    <div class="column-whole">
      <div class="govuk-metadata">
        <dl>
          <dt> Source:</dt> <dd><a href="#">
            What About YOUth (WAY) survey 2015</a></dd>
          <dt>Last Updated: </dt> <dd>11/12/2015</dd>
        </dl>
        <a href="#"> Download source data </a>
      </div>
    </div>
  </div>
</div>

<div class="graph-section" id="regular-section">
  <h3 class="heading-medium"> Regular smokers </h3>
  <div class="grid-row">
    <div class="column-two-thirds question-graph">

      <div id="regular" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
    </div>

    <div class="column-whole">
      <div class="govuk-metadata">
        <dl>
          <dt> Source:</dt> <dd><a href="#">
            What About YOUth (WAY) survey 2015</a></dd>
          <dt>Last Updated: </dt> <dd>11/12/2015</dd>
        </dl>
        <a href="#"> Download source data </a>
      </div>
    </div>
  </div>
</div>


<div class="graph-section" id="occasional-section">
  <h3 class="heading-medium"> Occasional smokers </h3>
  <div class="grid-row">
    <div class="column-two-thirds question-graph">

      <div id="occasional" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
    </div>

    <div class="column-whole">
      <div class="govuk-metadata">
        <dl>
          <dt> Source:</dt> <dd><a href="#">
            What About YOUth (WAY) survey 2015</a></dd>
          <dt>Last Updated: </dt> <dd>11/12/2015</dd>
        </dl>
        <a href="#"> Download source data </a>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
     <h3 class="heading-medium"> Learn about this measure</h3>

    <p>Find out what this measure means, get a summary of the key insights, read the key trends for each of the above graphs and find out how the data was collected.</p>

    <div class="accordions-container container">
      <div class="accordion">
        <div class="accordion__header" >
          <h2><button> Overview</button></h2>
           <span class="plus-minus-icon"></span>
        </div>

        <div class="accordion__body">
          <h3 class="heading-medium">
            Summary
          </h3>

          <p>Smoking is a major cause of preventable morbidity and premature death. There is a large body of evidence showing that smoking behaviour in early adulthood affects health behaviours later in life. The Tobacco Control Plan sets out the Government's aim to reduce the prevalence of smoking among adults and children and includes a national ambition to reduce rates of regular smoking among 15 year olds in England to 12% or less by the end of 2015.</p>

          <p>This indicator will ensure that as well as focusing on reducing the prevalence of smoking among adults (primarily through quitting) local authorities will also address the issue of reducing the uptake of smoking among children.</p>

        </div>
      </div>
    </div>

    <div class="accordions-container container">
      <div class="accordion">
        <div class="accordion__header">
          <h2><button> Things you need to know</button></h2>
           <span class="plus-minus-icon"></span>
        </div>

        <div class="accordion__body">

        <p>
          Data to measure progress against the Public Health Outcomes Framework (PHOF) indicators for smoking prevalence amongst 15 year olds in England are from the What About YOUth? (WAY) survey. This is a newly established survey to collect robust local authority (LA) level data on a range of health behaviours amongst 15 year olds. The sample size is significant and the majority of LAs achieved a +/- 3 percentage point margin of error at the 95% confidence interval.
        </p>

        <p>
          Data on smoking prevalence is also collected by the annual Smoking, Drinking and Drug Use (SDD) Among Young People Survey which is a schools-based survey of 11-15 year olds. It is not unusual for different survey methods to give different results and the PHOF smoking indicators were not intended to be, and should not be, compared to other sources of smoking data without an understanding of the impact of different methodologies. The WAY survey is a home postal survey whereas the SDD survey is administered within schools under exam conditions. It is known that young people are more likely to admit to risky behaviours such as smoking in school-based surveys.
        </p>

        <p>
          The WAY survey was designed to produce smoking prevalence rates at LA level as such estimates are not available elsewhere. LA level data could not be collected through a survey in schools as it would place too heavy a burden on schools.
        </p>
        <p>
          WAY enable robust comparisons to be made between LAs and against the national position, which is the main purpose of the PHOF. If the WAY survey is repeasted, this will allow monitoring of trends over time at a local level and will better support local authorities to deliver their services according to local needs.
        </p>
        </div>
      </div>
    </div>

    <div class="accordions-container container">
      <div class="accordion">
        <div class="accordion__header ">
          <h2><button> Ethnicity definitions</button></h2>
           <span class="plus-minus-icon"></span>
        </div>

        <div class="accordion__body">
          <h3 class="heading-medium"> Ethnicity categories used in this analysis
          </h3>

        </div>
      </div>
    </div>

    <div class="accordions-container container">
      <div class="accordion">
        <div class="accordion__header ">
          <h2><button> Technical information</button></h2>
           <span class="plus-minus-icon"></span>
        </div>
        <div class="accordion__body">
          <h3 class="heading-medium">
            Methodology
          </h3>

          <p> Both the numerator and denominator are weighted to make them applicable to the population as a whole. The weighted numerator is then divided by the weighted denominator and multiplied by 100 to get the percent. </p>

          <h3 class="heading-medium">
            Type of data
          </h3>

          Survey

          <h3 class="heading-medium">Definitions</h3>

          <p><strong>Numerator:</strong> The number of 15 year olds who responded to Q17 in the What About YOUth survey ("Now read the following statements carefully, and tick the box next to the one that best describes you") with the answers "I usually smoke between one and six cigarettes per week" or "I usually smoke more than six cigarettes per week".</p>

          <p> <strong> Denominator</strong> The total number of valid responses to Q17 in the What About YOUth survey</p>

        </div>
      </div>
    </div>

    <div class="accordions-container container">

      <div class="accordion">
        <div class="accordion__header">
          <h2><button> Publishing details</button></h2>
          <span class="plus-minus-icon"></span>
        </div>

        <div class="accordion__body">
          <div class="govuk-metadata">
            <dl>
              <dt> From:</dt> <dd><a href="#">
              What About YOUth (WAY) survey 2015</a></dd>
              <dt>First Published: </dt> <dd>2015</dd>
              <dt>Last Updated: </dt> <dd>2015</dd>
              <dt> Next Update:</dt> <dd> 2016</dd>
              <dt> Frequency:</dt> <dd> Anually</dd>
              <dt> Contact:</dt> <dd> gabriel.kite@dwp.gsi.gov.uk</dd>
              <dt> Related Publications:</dt> <dd><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/ethnicity/articles/ethnicityandthelabourmarket2011censusenglandandwales/previousReleases"> Official Statistic </a> </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

<!--     <div class="accordions-container container">
      <div class="accordion">
        <div class="accordion__header ">
          <h2><button> Downloads </button></h2>
           <span class="plus-minus-icon"></span>

        </div>
        <div class="accordion__body">
          <ul class="list-bullet">
            <li><a href="https://s3-eu-west-1.amazonaws.com/rd-alpha-downloads/unemployment_in_the_labour_force_raw_data.csv" download> Download the raw data </a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/rd-alpha-downloads/unemployment_in_the_labour_force_racial_disparity_audit_report.xlsx" download> Download the statistical report </a></li>
            <li><a href="https://s3-eu-west-1.amazonaws.com/rd-alpha-downloads/unemployment_in_the_labour_market_original_publication.xlsx" download> Download the original publication </a></li>
          </ul>
        </div>
      </div>
  </div> -->

</div>

<div id="smoking"></div>
