<table class=''>
  <thead class=''>
    <tr>
      <td class='right-border'>Ethnicity</td>
      <td colspan='2' class='right-border' style='text-align:left;'>Female</td>
      <td class='' colspan='2' style='text-align:left;'>Male</td>
    </tr>
    <tr class='border-bottom'>
      <td class='right-border'></td>
      <td class='not-bold '>Number of females economically active</td>
      <td class='not-bold right-border'>Percent of females unemployed</td>
      <td class='not-bold '>Number of males economically active</td>
      <td class='not-bold '>Percent of males unemployed</td>
    </tr>
  </thead>
  <tbody>
    <tr class=''>
      <td class='right-border'>White</td>
      <td>13,244,000</td>
      <td class='right-border'>4.6%</td>
      <td>15,012,000</td>
      <td>4.9%</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Black</td>
      <td>518,000</td>
      <td class='right-border'>12.9%</td>
      <td>449,000</td>
      <td>15.2%</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Mixed or multiple</td>
      <td>177,000</td>
      <td class='right-border'>9.6%</td>
      <td>167,000</td>
      <td>13.0%</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Indian</td>
      <td>362,000</td>
      <td class='right-border'>5.7%</td>
      <td>495,000</td>
      <td>6.9%</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Pakistani</td>
      <td>219,000</td>
      <td class='right-border'>15.0%</td>
      <td>442,000</td>
      <td>9.8%</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Chinese</td>
      <td colspan='2'class='right-border'style='text-align:center;'>Sample size too small</td>
      <td colspan='2' style='text-align:center;'>Sample size too small</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Other Asian</td>
      <td>181,000</td>
      <td class='right-border'>6.3%</td>
      <td>187,000</td>
      <td>7.0%</td>
    </tr>
    <tr class=''>
      <td class='right-border'>Other</td>
      <td>193,000</td>
      <td class='right-border'>11.4%</td>
      <td>272,000</td>
      <td>7.3%</td>
    </tr>        
  </tbody>
</table>
