<table class=''>
  <thead class=''>
    <tr>
      <td class='visually-hidden'>Ethnicity</td>
      <td class=''>16-24</td>
      <td class=''>25-49</td>
      <td class=''>50+</td>
    </tr>
  </thead>
  <tbody>
    <tr class=''>
      <td class=''>Black</td>
      <td>30.3%</td>
      <td>9.4%</td>
      <td>12.1%</td>
    </tr>
    <tr class=''>
      <td class=''>Chinese</td>
      <td>Sample too small</td>
      <td>Sample too small</td>
      <td>Sample too small</td>
    </tr>
    <tr class=''>
      <td class=''>Indian</td>
      <td>20.9%</td>
      <td>5.5%</td>
      <td>4.7%</td>
    </tr>
    <tr class=''>
      <td class=''>Mixed or multiple</td>
      <td>21.6%</td>
      <td>Sample too small</td>
      <td>7.7%</td>
    </tr>
    <tr class=''>
      <td class=''>Pakistani or Bangladeshi</td>
      <td>27.1%</td>
      <td>7.0%</td>
      <td>8.2%</td>
    </tr>
    <tr class=''>
      <td class=''>White</td>
      <td>13.3%</td>
      <td>3.2%</td>
      <td>3.6%</td>
    </tr>
    <tr class=''>
      <td class=''>Other Asian</td>
      <td>22.3%</td>
      <td>6.6%</td>
      <td>5.4%</td>
    </tr>
    <tr class=''>
      <td class=''>Other</td>
      <td>26.2%</td>
      <td>9.0%</td>
      <td>7.2%</td>
    </tr>        
  </tbody>
</table>
