<table class=''>
  <thead class=''>
    <tr>
      <td class='visually-hidden'>Ethnicity</td>
      <td class=''>Number of people economically active</td>
      <td class=''>Percent of ethnicity unemployed</td>
    </tr>
  </thead>
  <tbody>
    <tr class=''>
      <td class=''>White</td>
      <td>28,256,000</td>
      <td>4.8%</td>
    </tr>
    <tr class=''>
      <td class=''>Black</td>
      <td>967,000</td>
      <td>14.0%</td>
    </tr>
    <tr class=''>
      <td class=''>Mixed or multiple</td>
      <td>343,000</td>
      <td>11.2%</td>
    </tr>
    <tr class=''>
      <td class=''>Indian</td>
      <td>857,000</td>
      <td>6.4%</td>
    </tr>
    <tr class=''>
      <td class=''>Pakistani</td>
      <td>660,000</td>
      <td>11.5%</td>
    </tr>
    <tr class=''>
      <td class=''>Chinese</td>
      <td>145,000</td>
      <td>4.9%</td>
    </tr>
    <tr class=''>
      <td class=''>Other Asian</td>
      <td>369,000</td>
      <td>6.6%</td>
    </tr>
    <tr class=''>
      <td class=''>Other</td>
      <td>464,000</td>
      <td>9.0%</td>
    </tr>        
  </tbody>
</table>
