@import 'colours';
@import 'font_stack';
@import 'measurements';
@import 'conditionals';
@import 'device-pixels';
@import 'grid_layout';
@import 'typography';
@import 'shims';

@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';


// From GDS's alphagov/govuk_elements
@import 'elements/helpers';
@import 'elements/reset';

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// HTML elements, set by the GOV.UK template

@import 'elements/layout';
@import 'elements/elements-typography';
@import 'elements/buttons';
// @import 'elements/icons'
@import 'elements/lists';
// @import 'elements/tables'
@import 'elements/details';
@import 'elements/panels';
@import 'elements/forms';
@import 'elements/forms/form-block-labels';
@import 'elements/forms/form-date';
@import 'elements/forms/form-validation';
@import 'elements/breadcrumbs';
@import 'elements/phase-banner';
@import 'elements/components';

.phase-banner {
  @include phase-banner();
}
.column-whole {
  @include grid-column(1);
}
.column-third {
  @include grid-column( 1/3 );
}

.race-radios-container {
  border-bottom: 1px solid $grey-2;

  .column-one-half {
    padding-bottom: 20px;
  }
}

.question-tabs {
  margin-top: 60px;
}


.factoid-list {
  .row-container {
    margin-bottom: 5px;
    border-bottom: solid 1px $grey-2;
  }
}
.factoid-header {
  margin-top: 1.875em;
}

.factoid-question {
  width: 60%;
  float: left;
}

.factoid-result {
  width: 20%;
  float: left;
  text-align:right;
}

.list {
  list-style: none;
}

.row-container {
  .row-description {
    width:60%;
    text-align:left;
    float:left;
  }

}
.options-container {
  max-height: 180px;
}

.govuk-option-select {
  background-color: $grey-3;
  margin-bottom: 30px;


  button {
    z-index:100;
    position: relative;
    border:none;
    width:100%;
    cursor:pointer;
    text-align: left;
    margin-bottom: -1px;
    padding: 5px 8px;
    background-color: $grey-3;
  }

  .option-select-label {
    font-size: 19px;
    line-height: 1.31579;
    font-weight: bold;
    margin-right: 40px;
    padding-top: 5px;
  }

  .options-container {
    background-color: $white;
    border: solid;
    border-color: $grey-3;
    overflow-y: scroll;
    overflow-x: hidden;

    label {
      cursor: pointer;
      display: inline-block;
      width:100%;
      border-bottom: 1px solid $grey-3;
    }
  }
}

.govuk-metadata {
  font-size: 14px;
  line-height: 1.42857;
  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;
  }

  margin-bottom: 30px;
}
