// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colours';

.question-graph {
  img { width: 80%; }
}

#location-section{
    img {
    width: 100%;
  }
}


#navigation-tabs {
  &.homepage {
    padding-bottom: 60px;
  }

  .tabs-nav {
    list-style: none;

    li {
      text-align: center;
      font-family: "nta", Arial, sans-serif;
      font-weight: 400;
      text-transform: none;
      font-size: 16px;
      line-height: 1.14286;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $grey-2;
      float: left;
      width: 16%;
      padding-top: 5px;

      a {
        font-size: 16px;
        line-height: 1.25;
        padding-left: 5px;
        text-align: center;
        padding: 0 1em 0 1em;
        height: 2.25em;
      }
    }

    .selected {
      a {
        color:$black;
        text-decoration: none;

      }
      border: 1px solid $grey-2;
      border-bottom: 1px solid $white;
      z-index:5;
    }

  }

}

.graph-section {
  display:none;
}


.site-search {
  float:right;
}
