@import 'colours';

.plus-minus-icon {
  background-image:image-url("icon-plus-minus.svg");
  background:image-url("icon-plus-minus.svg");
  height: 16px;
  width: 16px;
  float:right;
  background-position: 0 0;
}

.accordions-container {
  border-bottom: 1px solid $grey-2;
}

.accordion__header {
  border-top: 1px solid $grey-2;
  position: relative;
  button {
    cursor: pointer;
    background-color: $white;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    border: 0;
    color: $link-colour;
  }

}
.accordion__body {

}


