<!DOCTYPE html>
<html>
<head>
  <title>Race Disparity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Pretty sure there is a better place to put this but needs must -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <%= csrf_meta_tags %>
</head>

<% content_for :inside_header do %>
  <div class="header-proposition" >
    <a href="/" id="proposition-name" >Race Disparity Audit</a>
  </div>
<% end %>

<body>
  <%= render file: 'layouts/govuk_template' %>
</body>
</html>
